In [1]:
from datetime import datetime
import os

# data_base_path = './duckEgg'
# if not os.path.isdir(data_base_path):
#     os.mkdir(data_base_path)

data_path = f'./data'
if not os.path.isdir(data_path):
    os.mkdir(data_path)

output_day_path = f'./duckEggPriceByDayCsv'
if not os.path.isdir(output_day_path):
    os.mkdir(output_day_path)
    
output_week_path = f'./duckEggPriceByWeekCsv'
if not os.path.isdir(output_week_path):
    os.mkdir(output_week_path)

n_years = 10

base_url = 'https://data.moa.gov.tw'
endpoint = '/api/v1/PoultryTransType_Goose_Duck_Duckegg'

# Include the API key in the headers
api_key = 'EXR1FU4WC5SNAUS0NXI0PM01JT2XRA'
headers = {'Authorization': f'Bearer {api_key}'}

# Get today's month and day
today = datetime.now()
formatted_month = today.strftime("%m") # Format the month and day with leading zeros if necessary
formatted_day = today.strftime("%d")
print(f"Today: {today}")

Today: 2023-11-28 00:06:49.309460

In [2]:
import requests
import json

years = [2023 - x for x in range(n_years)]

for year in years:
    print(f'===================================== {year} =====================================\n')
    
    if year == 2023:
        condition = f'/?Start_time={year}%2F01%2F01&End_time={year}%2F{formatted_month}%2F{formatted_day}'
    else:
        condition = f'/?Start_time={year}%2F01%2F01&End_time={year}%2F12%2F31'
    api_url = base_url + endpoint + condition

    response = requests.get(api_url, headers=headers)

    if response.status_code == 200:
        data = response.json()
        with open(f'{data_path}/{year}.txt', 'w') as file:
            json.dump(data, file)
#         print(data, "\n")
    else:
        print(f"Error: {response.status_code}")
        print(response.text)

===================================== 2023 =====================================

===================================== 2022 =====================================

===================================== 2021 =====================================

===================================== 2020 =====================================

===================================== 2019 =====================================

===================================== 2018 =====================================

===================================== 2017 =====================================

===================================== 2016 =====================================

===================================== 2015 =====================================

===================================== 2014 =====================================

In [3]:
import json
import pandas as pd

def get_week_number(date_str):
    # Convert the input string to a datetime object
    date_object = datetime.strptime(date_str, "%Y/%m/%d")
    
    # Use strftime to format the date with the week number
    week_number = date_object.strftime("%U")
    
    week_num = '{:02d}'.format(int(week_number))
    return f'{date_str[:4]}-{week_num}'


# 到 2017（含）以前的格式跟近年不一樣，要調查並調整

target_column = 'Duckegg_TNN_TaijinPrice'

for year in years:
    print(f'===================================== {year} =====================================\n')

    with open(f"{data_path}/{year}.txt", 'r') as file:
        json_data = json.loads(file.read())

        df = pd.DataFrame(json_data['Data'])
        df = df[['TransDate', target_column]]

        # Change the format of the "TransDate" column to YYYY-MM-DD
        df_format_date = df.copy(deep=True)
        df_format_date['TransDate'] = pd.to_datetime(df_format_date['TransDate'])
        df_format_date['TransDate'] = df_format_date['TransDate'].dt.strftime('%Y-%m-%d')
        display(df_format_date)
        
        # drop duplicate-date rows
        df_format_date = df_format_date.drop_duplicates(subset=['TransDate'])
        
        df_format_date.to_csv(f'{output_day_path}/{year}DuckEggPriceByDay.csv', index=False)

        """ weekly avg price """
        numeric_price = []
        curr_price = 35
        for i, price in enumerate(df[target_column]):
            if price == '休市' or price == '議價':
                numeric_price.append(curr_price) # 往回找到最近一次有開市的價格
            else:
                numeric_price.append(float(price))
                curr_price = float(price)

        df[target_column] = numeric_price

        df['Year_Week'] = df['TransDate'].apply(get_week_number)
        df = df[['TransDate', 'Year_Week', target_column]]

        df = df.sort_values('Year_Week')
        display(df)

        df_week = df.groupby('Year_Week')[target_column].mean().reset_index()
        display(df_week)

        df_avg_price_by_week = pd.DataFrame({
            'Year_Week': df_week['Year_Week'],
            'Avg_Price': df_week[target_column]
        })

        df_avg_price_by_week['Avg_Price'] = df_avg_price_by_week['Avg_Price'].round(2)
        display(df_avg_price_by_week)
        
        df_avg_price_by_week.to_csv(f'{output_week_path}/{year}DuckEggPriceByWeek.csv', index=False)

===================================== 2023 =====================================

      TransDate Duckegg_TNN_TaijinPrice
0    2023-11-26                    48.0
1    2023-11-25                    48.0
2    2023-11-24                    48.0
3    2023-11-23                    48.0
4    2023-11-22                    48.0
..          ...                     ...
326  2023-01-05                    43.0
327  2023-01-04                    43.0
328  2023-01-03                    43.0
329  2023-01-02                    43.0
330  2023-01-01                    43.0

[331 rows x 2 columns]

      TransDate Year_Week  Duckegg_TNN_TaijinPrice
330  2023/01/01   2023-01                     43.0
324  2023/01/07   2023-01                     43.0
325  2023/01/06   2023-01                     43.0
329  2023/01/02   2023-01                     43.0
327  2023/01/04   2023-01                     43.0
..          ...       ...                      ...
4    2023/11/22   2023-47                     48.0
3    2023/11/23   2023-47                     48.0
2    2023/11/24   2023-47                     48.0
1    2023/11/25   2023-47                     48.0
0    2023/11/26   2023-48                     48.0

[331 rows x 3 columns]

   Year_Week  Duckegg_TNN_TaijinPrice
0    2023-01                43.000000
1    2023-02                43.000000
2    2023-03                43.000000
3    2023-04                43.000000
4    2023-05                43.000000
5    2023-06                43.000000
6    2023-07                43.000000
7    2023-08                44.714286
8    2023-09                45.000000
9    2023-10                46.285714
10   2023-11                48.000000
11   2023-12                48.000000
12   2023-13                48.000000
13   2023-14                48.000000
14   2023-15                48.000000
15   2023-16                48.000000
16   2023-17                48.000000
17   2023-18                48.000000
18   2023-19                48.000000
19   2023-20                48.000000
20   2023-21                48.000000
21   2023-22                48.000000
22   2023-23                48.000000
23   2023-24                48.000000
24   2023-25                48.000000
25   2023-26                48.000000
26   2023-27                48.000000
27   2023-28                48.000000
28   2023-29                48.000000
29   2023-30                48.000000
30   2023-31                48.000000
31   2023-32                48.000000
32   2023-33                48.000000
33   2023-34                48.000000
34   2023-35                48.000000
35   2023-36                48.000000
36   2023-37                48.000000
37   2023-38                48.000000
38   2023-39                48.000000
39   2023-40                48.000000
40   2023-41                48.000000
41   2023-42                48.000000
42   2023-43                48.000000
43   2023-44                48.000000
44   2023-45                48.000000
45   2023-46                48.000000
46   2023-47                48.000000
47   2023-48                48.000000

   Year_Week  Avg_Price
0    2023-01      43.00
1    2023-02      43.00
2    2023-03      43.00
3    2023-04      43.00
4    2023-05      43.00
5    2023-06      43.00
6    2023-07      43.00
7    2023-08      44.71
8    2023-09      45.00
9    2023-10      46.29
10   2023-11      48.00
11   2023-12      48.00
12   2023-13      48.00
13   2023-14      48.00
14   2023-15      48.00
15   2023-16      48.00
16   2023-17      48.00
17   2023-18      48.00
18   2023-19      48.00
19   2023-20      48.00
20   2023-21      48.00
21   2023-22      48.00
22   2023-23      48.00
23   2023-24      48.00
24   2023-25      48.00
25   2023-26      48.00
26   2023-27      48.00
27   2023-28      48.00
28   2023-29      48.00
29   2023-30      48.00
30   2023-31      48.00
31   2023-32      48.00
32   2023-33      48.00
33   2023-34      48.00
34   2023-35      48.00
35   2023-36      48.00
36   2023-37      48.00
37   2023-38      48.00
38   2023-39      48.00
39   2023-40      48.00
40   2023-41      48.00
41   2023-42      48.00
42   2023-43      48.00
43   2023-44      48.00
44   2023-45      48.00
45   2023-46      48.00
46   2023-47      48.00
47   2023-48      48.00

===================================== 2022 =====================================

      TransDate Duckegg_TNN_TaijinPrice
0    2022-12-31                    43.0
1    2022-12-30                    43.0
2    2022-12-29                    43.0
3    2022-12-28                    43.0
4    2022-12-27                    43.0
..          ...                     ...
361  2022-01-05                    38.0
362  2022-01-04                    38.0
363  2022-01-03                    38.0
364  2022-01-02                    38.0
365  2022-01-01                    38.0

[366 rows x 2 columns]

      TransDate Year_Week  Duckegg_TNN_TaijinPrice
365  2022/01/01   2022-00                     38.0
358  2022/01/08   2022-01                     38.0
359  2022/01/07   2022-01                     38.0
360  2022/01/06   2022-01                     38.0
364  2022/01/02   2022-01                     38.0
..          ...       ...                      ...
4    2022/12/27   2022-52                     43.0
3    2022/12/28   2022-52                     43.0
2    2022/12/29   2022-52                     43.0
1    2022/12/30   2022-52                     43.0
0    2022/12/31   2022-52                     43.0

[366 rows x 3 columns]

   Year_Week  Duckegg_TNN_TaijinPrice
0    2022-00                38.000000
1    2022-01                38.000000
2    2022-02                38.000000
3    2022-03                38.000000
4    2022-04                38.000000
5    2022-05                38.000000
6    2022-06                38.000000
7    2022-07                38.000000
8    2022-08                38.000000
9    2022-09                38.000000
10   2022-10                38.000000
11   2022-11                39.714286
12   2022-12                40.000000
13   2022-13                40.000000
14   2022-14                40.000000
15   2022-15                42.571429
16   2022-16                43.000000
17   2022-17                43.000000
18   2022-18                43.000000
19   2022-19                43.000000
20   2022-20                43.000000
21   2022-21                43.000000
22   2022-22                43.000000
23   2022-23                43.000000
24   2022-24                43.000000
25   2022-25                43.000000
26   2022-26                43.000000
27   2022-27                43.000000
28   2022-28                43.000000
29   2022-29                43.000000
30   2022-30                43.000000
31   2022-31                43.000000
32   2022-32                43.000000
33   2022-33                43.000000
34   2022-34                43.000000
35   2022-35                43.000000
36   2022-36                43.000000
37   2022-37                43.000000
38   2022-38                43.000000
39   2022-39                43.000000
40   2022-40                43.000000
41   2022-41                43.000000
42   2022-42                43.000000
43   2022-43                43.000000
44   2022-44                43.000000
45   2022-45                43.000000
46   2022-46                43.000000
47   2022-47                43.000000
48   2022-48                43.000000
49   2022-49                43.000000
50   2022-50                43.000000
51   2022-51                43.000000
52   2022-52                43.000000

   Year_Week  Avg_Price
0    2022-00      38.00
1    2022-01      38.00
2    2022-02      38.00
3    2022-03      38.00
4    2022-04      38.00
5    2022-05      38.00
6    2022-06      38.00
7    2022-07      38.00
8    2022-08      38.00
9    2022-09      38.00
10   2022-10      38.00
11   2022-11      39.71
12   2022-12      40.00
13   2022-13      40.00
14   2022-14      40.00
15   2022-15      42.57
16   2022-16      43.00
17   2022-17      43.00
18   2022-18      43.00
19   2022-19      43.00
20   2022-20      43.00
21   2022-21      43.00
22   2022-22      43.00
23   2022-23      43.00
24   2022-24      43.00
25   2022-25      43.00
26   2022-26      43.00
27   2022-27      43.00
28   2022-28      43.00
29   2022-29      43.00
30   2022-30      43.00
31   2022-31      43.00
32   2022-32      43.00
33   2022-33      43.00
34   2022-34      43.00
35   2022-35      43.00
36   2022-36      43.00
37   2022-37      43.00
38   2022-38      43.00
39   2022-39      43.00
40   2022-40      43.00
41   2022-41      43.00
42   2022-42      43.00
43   2022-43      43.00
44   2022-44      43.00
45   2022-45      43.00
46   2022-46      43.00
47   2022-47      43.00
48   2022-48      43.00
49   2022-49      43.00
50   2022-50      43.00
51   2022-51      43.00
52   2022-52      43.00

===================================== 2021 =====================================

      TransDate Duckegg_TNN_TaijinPrice
0    2021-12-31                    38.0
1    2021-12-30                    38.0
2    2021-12-29                    38.0
3    2021-12-28                    38.0
4    2021-12-27                    38.0
..          ...                     ...
360  2021-01-05                    32.0
361  2021-01-04                    32.0
362  2021-01-03                    32.0
363  2021-01-02                    32.0
364  2021-01-01                    32.0

[365 rows x 2 columns]

      TransDate Year_Week  Duckegg_TNN_TaijinPrice
364  2021/01/01   2021-00                     32.0
363  2021/01/02   2021-00                     32.0
361  2021/01/04   2021-01                     32.0
360  2021/01/05   2021-01                     32.0
359  2021/01/06   2021-01                     32.0
..          ...       ...                      ...
4    2021/12/27   2021-52                     38.0
3    2021/12/28   2021-52                     38.0
2    2021/12/29   2021-52                     38.0
1    2021/12/30   2021-52                     38.0
0    2021/12/31   2021-52                     38.0

[365 rows x 3 columns]

   Year_Week  Duckegg_TNN_TaijinPrice
0    2021-00                32.000000
1    2021-01                32.000000
2    2021-02                32.000000
3    2021-03                32.000000
4    2021-04                32.000000
5    2021-05                32.000000
6    2021-06                32.000000
7    2021-07                32.000000
8    2021-08                32.000000
9    2021-09                32.000000
10   2021-10                32.000000
11   2021-11                32.000000
12   2021-12                33.714286
13   2021-13                34.000000
14   2021-14                34.000000
15   2021-15                34.000000
16   2021-16                34.000000
17   2021-17                34.000000
18   2021-18                34.000000
19   2021-19                34.000000
20   2021-20                34.000000
21   2021-21                34.000000
22   2021-22                34.000000
23   2021-23                34.000000
24   2021-24                34.000000
25   2021-25                35.714286
26   2021-26                36.000000
27   2021-27                36.000000
28   2021-28                36.000000
29   2021-29                36.000000
30   2021-30                36.000000
31   2021-31                37.142857
32   2021-32                38.000000
33   2021-33                38.000000
34   2021-34                38.000000
35   2021-35                38.000000
36   2021-36                36.285714
37   2021-37                36.000000
38   2021-38                36.000000
39   2021-39                36.000000
40   2021-40                36.000000
41   2021-41                36.000000
42   2021-42                36.000000
43   2021-43                36.000000
44   2021-44                36.000000
45   2021-45                36.000000
46   2021-46                36.000000
47   2021-47                36.000000
48   2021-48                36.000000
49   2021-49                36.000000
50   2021-50                36.857143
51   2021-51                38.000000
52   2021-52                38.000000

   Year_Week  Avg_Price
0    2021-00      32.00
1    2021-01      32.00
2    2021-02      32.00
3    2021-03      32.00
4    2021-04      32.00
5    2021-05      32.00
6    2021-06      32.00
7    2021-07      32.00
8    2021-08      32.00
9    2021-09      32.00
10   2021-10      32.00
11   2021-11      32.00
12   2021-12      33.71
13   2021-13      34.00
14   2021-14      34.00
15   2021-15      34.00
16   2021-16      34.00
17   2021-17      34.00
18   2021-18      34.00
19   2021-19      34.00
20   2021-20      34.00
21   2021-21      34.00
22   2021-22      34.00
23   2021-23      34.00
24   2021-24      34.00
25   2021-25      35.71
26   2021-26      36.00
27   2021-27      36.00
28   2021-28      36.00
29   2021-29      36.00
30   2021-30      36.00
31   2021-31      37.14
32   2021-32      38.00
33   2021-33      38.00
34   2021-34      38.00
35   2021-35      38.00
36   2021-36      36.29
37   2021-37      36.00
38   2021-38      36.00
39   2021-39      36.00
40   2021-40      36.00
41   2021-41      36.00
42   2021-42      36.00
43   2021-43      36.00
44   2021-44      36.00
45   2021-45      36.00
46   2021-46      36.00
47   2021-47      36.00
48   2021-48      36.00
49   2021-49      36.00
50   2021-50      36.86
51   2021-51      38.00
52   2021-52      38.00

===================================== 2020 =====================================

      TransDate Duckegg_TNN_TaijinPrice
0    2020-12-31                    32.0
1    2020-12-30                    32.0
2    2020-12-29                    32.0
3    2020-12-28                    32.0
4    2020-12-27                    32.0
..          ...                     ...
361  2020-01-05                    34.0
362  2020-01-04                    34.0
363  2020-01-03                    34.0
364  2020-01-02                    34.0
365  2020-01-01                      34

[366 rows x 2 columns]

      TransDate Year_Week  Duckegg_TNN_TaijinPrice
365  2020/01/01   2020-00                     34.0
362  2020/01/04   2020-00                     34.0
364  2020/01/02   2020-00                     34.0
363  2020/01/03   2020-00                     34.0
361  2020/01/05   2020-01                     34.0
..          ...       ...                      ...
4    2020/12/27   2020-52                     32.0
3    2020/12/28   2020-52                     32.0
2    2020/12/29   2020-52                     32.0
1    2020/12/30   2020-52                     32.0
0    2020/12/31   2020-52                     32.0

[366 rows x 3 columns]

   Year_Week  Duckegg_TNN_TaijinPrice
0    2020-00                34.000000
1    2020-01                34.000000
2    2020-02                32.571429
3    2020-03                32.000000
4    2020-04                32.285714
5    2020-05                32.285714
6    2020-06                32.000000
7    2020-07                32.000000
8    2020-08                32.000000
9    2020-09                32.000000
10   2020-10                32.000000
11   2020-11                31.142857
12   2020-12                30.000000
13   2020-13                30.000000
14   2020-14                30.000000
15   2020-15                30.000000
16   2020-16                30.000000
17   2020-17                30.000000
18   2020-18                30.000000
19   2020-19                31.714286
20   2020-20                32.000000
21   2020-21                32.000000
22   2020-22                32.000000
23   2020-23                32.000000
24   2020-24                32.000000
25   2020-25                32.000000
26   2020-26                32.000000
27   2020-27                32.000000
28   2020-28                32.000000
29   2020-29                32.000000
30   2020-30                32.000000
31   2020-31                32.000000
32   2020-32                33.714286
33   2020-33                34.000000
34   2020-34                34.000000
35   2020-35                34.000000
36   2020-36                34.000000
37   2020-37                32.000000
38   2020-38                32.000000
39   2020-39                32.000000
40   2020-40                32.000000
41   2020-41                32.000000
42   2020-42                32.000000
43   2020-43                32.000000
44   2020-44                32.000000
45   2020-45                32.000000
46   2020-46                32.000000
47   2020-47                32.000000
48   2020-48                32.000000
49   2020-49                32.000000
50   2020-50                32.000000
51   2020-51                32.000000
52   2020-52                32.000000

   Year_Week  Avg_Price
0    2020-00      34.00
1    2020-01      34.00
2    2020-02      32.57
3    2020-03      32.00
4    2020-04      32.29
5    2020-05      32.29
6    2020-06      32.00
7    2020-07      32.00
8    2020-08      32.00
9    2020-09      32.00
10   2020-10      32.00
11   2020-11      31.14
12   2020-12      30.00
13   2020-13      30.00
14   2020-14      30.00
15   2020-15      30.00
16   2020-16      30.00
17   2020-17      30.00
18   2020-18      30.00
19   2020-19      31.71
20   2020-20      32.00
21   2020-21      32.00
22   2020-22      32.00
23   2020-23      32.00
24   2020-24      32.00
25   2020-25      32.00
26   2020-26      32.00
27   2020-27      32.00
28   2020-28      32.00
29   2020-29      32.00
30   2020-30      32.00
31   2020-31      32.00
32   2020-32      33.71
33   2020-33      34.00
34   2020-34      34.00
35   2020-35      34.00
36   2020-36      34.00
37   2020-37      32.00
38   2020-38      32.00
39   2020-39      32.00
40   2020-40      32.00
41   2020-41      32.00
42   2020-42      32.00
43   2020-43      32.00
44   2020-44      32.00
45   2020-45      32.00
46   2020-46      32.00
47   2020-47      32.00
48   2020-48      32.00
49   2020-49      32.00
50   2020-50      32.00
51   2020-51      32.00
52   2020-52      32.00

===================================== 2019 =====================================

      TransDate Duckegg_TNN_TaijinPrice
0    2019-12-31                    34.0
1    2019-12-30                    34.0
2    2019-12-29                    34.0
3    2019-12-28                    34.0
4    2019-12-27                    34.0
..          ...                     ...
360  2019-01-05                    34.0
361  2019-01-04                    34.0
362  2019-01-03                    34.0
363  2019-01-02                    34.0
364  2019-01-01                    34.0

[365 rows x 2 columns]

      TransDate Year_Week  Duckegg_TNN_TaijinPrice
364  2019/01/01   2019-00                     34.0
360  2019/01/05   2019-00                     34.0
363  2019/01/02   2019-00                     34.0
362  2019/01/03   2019-00                     34.0
361  2019/01/04   2019-00                     34.0
..          ...       ...                      ...
8    2019/12/23   2019-51                     34.0
6    2019/12/25   2019-51                     34.0
2    2019/12/29   2019-52                     34.0
1    2019/12/30   2019-52                     34.0
0    2019/12/31   2019-52                     34.0

[365 rows x 3 columns]

   Year_Week  Duckegg_TNN_TaijinPrice
0    2019-00                34.000000
1    2019-01                34.000000
2    2019-02                34.000000
3    2019-03                34.000000
4    2019-04                34.000000
5    2019-05                34.000000
6    2019-06                34.000000
7    2019-07                34.000000
8    2019-08                34.000000
9    2019-09                34.000000
10   2019-10                34.000000
11   2019-11                34.000000
12   2019-12                34.000000
13   2019-13                34.000000
14   2019-14                34.000000
15   2019-15                35.714286
16   2019-16                36.000000
17   2019-17                36.000000
18   2019-18                36.000000
19   2019-19                36.000000
20   2019-20                36.000000
21   2019-21                36.000000
22   2019-22                36.000000
23   2019-23                36.000000
24   2019-24                36.000000
25   2019-25                36.857143
26   2019-26                38.000000
27   2019-27                38.000000
28   2019-28                38.000000
29   2019-29                38.000000
30   2019-30                38.000000
31   2019-31                38.000000
32   2019-32                38.000000
33   2019-33                38.000000
34   2019-34                38.000000
35   2019-35                36.285714
36   2019-36                36.000000
37   2019-37                34.285714
38   2019-38                34.000000
39   2019-39                34.000000
40   2019-40                34.000000
41   2019-41                35.714286
42   2019-42                36.000000
43   2019-43                36.000000
44   2019-44                36.000000
45   2019-45                36.000000
46   2019-46                36.000000
47   2019-47                36.000000
48   2019-48                34.285714
49   2019-49                34.000000
50   2019-50                34.000000
51   2019-51                34.000000
52   2019-52                34.000000

   Year_Week  Avg_Price
0    2019-00      34.00
1    2019-01      34.00
2    2019-02      34.00
3    2019-03      34.00
4    2019-04      34.00
5    2019-05      34.00
6    2019-06      34.00
7    2019-07      34.00
8    2019-08      34.00
9    2019-09      34.00
10   2019-10      34.00
11   2019-11      34.00
12   2019-12      34.00
13   2019-13      34.00
14   2019-14      34.00
15   2019-15      35.71
16   2019-16      36.00
17   2019-17      36.00
18   2019-18      36.00
19   2019-19      36.00
20   2019-20      36.00
21   2019-21      36.00
22   2019-22      36.00
23   2019-23      36.00
24   2019-24      36.00
25   2019-25      36.86
26   2019-26      38.00
27   2019-27      38.00
28   2019-28      38.00
29   2019-29      38.00
30   2019-30      38.00
31   2019-31      38.00
32   2019-32      38.00
33   2019-33      38.00
34   2019-34      38.00
35   2019-35      36.29
36   2019-36      36.00
37   2019-37      34.29
38   2019-38      34.00
39   2019-39      34.00
40   2019-40      34.00
41   2019-41      35.71
42   2019-42      36.00
43   2019-43      36.00
44   2019-44      36.00
45   2019-45      36.00
46   2019-46      36.00
47   2019-47      36.00
48   2019-48      34.29
49   2019-49      34.00
50   2019-50      34.00
51   2019-51      34.00
52   2019-52      34.00

===================================== 2018 =====================================

      TransDate Duckegg_TNN_TaijinPrice
0    2018-12-31                    34.0
1    2018-12-30                    34.0
2    2018-12-29                    34.0
3    2018-12-28                    34.0
4    2018-12-27                    34.0
..          ...                     ...
360  2018-01-05                    34.0
361  2018-01-04                    34.0
362  2018-01-03                    34.0
363  2018-01-02                    34.0
364  2018-01-01                    34.0

[365 rows x 2 columns]

      TransDate Year_Week  Duckegg_TNN_TaijinPrice
364  2018/01/01   2018-00                     34.0
359  2018/01/06   2018-00                     34.0
360  2018/01/05   2018-00                     34.0
363  2018/01/02   2018-00                     34.0
362  2018/01/03   2018-00                     34.0
..          ...       ...                      ...
6    2018/12/25   2018-51                     34.0
7    2018/12/24   2018-51                     34.0
5    2018/12/26   2018-51                     34.0
1    2018/12/30   2018-52                     34.0
0    2018/12/31   2018-52                     34.0

[365 rows x 3 columns]

   Year_Week  Duckegg_TNN_TaijinPrice
0    2018-00                34.000000
1    2018-01                34.000000
2    2018-02                34.000000
3    2018-03                34.000000
4    2018-04                34.000000
5    2018-05                30.571429
6    2018-06                30.000000
7    2018-07                30.857143
8    2018-08                32.000000
9    2018-09                32.000000
10   2018-10                32.000000
11   2018-11                32.000000
12   2018-12                32.000000
13   2018-13                32.000000
14   2018-14                32.000000
15   2018-15                32.000000
16   2018-16                32.000000
17   2018-17                32.857143
18   2018-18                34.000000
19   2018-19                34.000000
20   2018-20                34.000000
21   2018-21                34.000000
22   2018-22                32.285714
23   2018-23                32.000000
24   2018-24                32.000000
25   2018-25                32.000000
26   2018-26                33.142857
27   2018-27                34.000000
28   2018-28                34.857143
29   2018-29                36.000000
30   2018-30                36.000000
31   2018-31                36.000000
32   2018-32                36.000000
33   2018-33                36.000000
34   2018-34                36.000000
35   2018-35                36.000000
36   2018-36                36.000000
37   2018-37                35.142857
38   2018-38                34.000000
39   2018-39                34.000000
40   2018-40                34.000000
41   2018-41                34.000000
42   2018-42                34.000000
43   2018-43                34.000000
44   2018-44                34.000000
45   2018-45                34.000000
46   2018-46                34.000000
47   2018-47                34.000000
48   2018-48                34.000000
49   2018-49                34.000000
50   2018-50                34.000000
51   2018-51                34.000000
52   2018-52                34.000000

   Year_Week  Avg_Price
0    2018-00      34.00
1    2018-01      34.00
2    2018-02      34.00
3    2018-03      34.00
4    2018-04      34.00
5    2018-05      30.57
6    2018-06      30.00
7    2018-07      30.86
8    2018-08      32.00
9    2018-09      32.00
10   2018-10      32.00
11   2018-11      32.00
12   2018-12      32.00
13   2018-13      32.00
14   2018-14      32.00
15   2018-15      32.00
16   2018-16      32.00
17   2018-17      32.86
18   2018-18      34.00
19   2018-19      34.00
20   2018-20      34.00
21   2018-21      34.00
22   2018-22      32.29
23   2018-23      32.00
24   2018-24      32.00
25   2018-25      32.00
26   2018-26      33.14
27   2018-27      34.00
28   2018-28      34.86
29   2018-29      36.00
30   2018-30      36.00
31   2018-31      36.00
32   2018-32      36.00
33   2018-33      36.00
34   2018-34      36.00
35   2018-35      36.00
36   2018-36      36.00
37   2018-37      35.14
38   2018-38      34.00
39   2018-39      34.00
40   2018-40      34.00
41   2018-41      34.00
42   2018-42      34.00
43   2018-43      34.00
44   2018-44      34.00
45   2018-45      34.00
46   2018-46      34.00
47   2018-47      34.00
48   2018-48      34.00
49   2018-49      34.00
50   2018-50      34.00
51   2018-51      34.00
52   2018-52      34.00

===================================== 2017 =====================================

KeyError: "None of [Index(['TransDate', 'Duckegg_TNN_TaijinPrice'], dtype='object')] are in the [columns]"