In [1]:
import xml.etree.ElementTree as ET
import pandas as pd

# Define the namespace
namespace = {'ns': 'urn:cwa:gov:tw:cwacommon:0.1'}

# time scale
n_years = 5
years = [2022 - x for x in range(n_years)]
months = [f"{i:02d}" for i in range(1, 13)]


# concatenate all dfs
all_dfs = pd.DataFrame(columns=[
    'StationID',
    'StationName',
    'StationNameEN',
    'StationAttribute',
    'AirTemperatureMean',
    'AirTemperatureMax',
    'AirTemperatureMaxDate',
])


for year in years:
    print(f'\n===================================== {year} =====================================\n')

    for month in months:        
        
        # Parse the XML file
        tree = ET.parse(f'./data/{year}/mn_Report_{year}{month}.xml')
        root = tree.getroot()

        # Create lists to store data
        data = []

        # Iterate through each 'location' element
        for location in root.findall('.//ns:location', namespace):
            station_id = location.find('.//ns:StationID', namespace).text
            station_name = location.find('.//ns:StationName', namespace).text
            station_name_en = location.find('.//ns:StationNameEN', namespace).text
            station_attribute = location.find('.//ns:StationAttribute', namespace).text

            air_temperature_mean = location.find('.//ns:Mean', namespace).text
            air_temperature_max = location.find('.//ns:Maximum', namespace).text
            air_temperature_max_date = location.find('.//ns:MaximumDate', namespace).text

            # Append data to the list
            data.append({
                'StationID': station_id,
                'StationName': station_name,
                'StationNameEN': station_name_en,
                'StationAttribute': station_attribute,
                'AirTemperatureMean': air_temperature_mean,
                'AirTemperatureMax': air_temperature_max,
                'AirTemperatureMaxDate': air_temperature_max_date
            })

        # Create a DataFrame
        df = pd.DataFrame(data)
        
        all_dfs = pd.concat([all_dfs, df], ignore_index=True)

all_dfs

===================================== 2022 =====================================


===================================== 2021 =====================================


===================================== 2020 =====================================


===================================== 2019 =====================================


===================================== 2018 =====================================

,StationID,StationName,StationNameEN,StationAttribute,AirTemperatureMean,AirTemperatureMax,AirTemperatureMaxDate
0,466880,板橋,BANQIAO,署屬有人氣象站,17.2,26.4,2022-01-27
1,466900,淡水,TAMSUI,署屬有人氣象站,16.5,26.4,2022-01-26
2,466910,鞍部,ANBU,署屬有人氣象站,10.7,19.8,2022-01-27
3,466920,臺北,TAIPEI,署屬有人氣象站,17.2,25.8,2022-01-26
4,466930,竹子湖,ZHUZIHU,署屬有人氣象站,12.7,21.4,2022-01-26
...,...,...,...,...,...,...,...
1709,467610,成功,CHENGGONG,署屬有人氣象站,21.1,28.9,2018-12-04
1710,467620,蘭嶼,LANYU,署屬有人氣象站,20.6,25.5,2018-12-03
1711,467650,日月潭,SUN MOON LAKE,署屬有人氣象站,17.8,27.7,2018-12-05
1712,467660,臺東,TAITUNG,署屬有人氣象站,22.0,29.6,2018-12-04
1713,467990,馬祖,MATSU,署屬有人氣象站,14.0,24.1,2018-12-04

In [4]:
import os
import pandas as pd

# Assuming all_dfs is your combined DataFrame

# Group by 'StationName'
grouped = all_dfs.groupby('StationName')

# Accessing each group
for name, group in grouped:
    print(f"Station: {name}")
    
    if name == '田中':
        print("資訊不足\n")
        continue
    
    
    station_name_folder = f'./{name}'
    if not os.path.isdir(station_name_folder):
        os.mkdir(station_name_folder)


    # Convert 'AirTemperatureMaxDate' to datetime
    group['AirTemperatureMaxDate'] = pd.to_datetime(group['AirTemperatureMaxDate'])

    # Create daily-like entries for the entire month
    df_daily = group.assign(AirTemperatureMaxDate=group['AirTemperatureMaxDate'].apply(
        lambda x: pd.date_range(start=x.replace(day=1), end=x.replace(day=1) + pd.offsets.MonthEnd(0), freq='D')
    )).explode('AirTemperatureMaxDate').reset_index(drop=True)

    # Sort date from earliest to latest
    df_daily = df_daily.sort_values(by='AirTemperatureMaxDate')

    # Drop duplicate-date rows
    df_daily = df_daily.drop_duplicates(subset=['AirTemperatureMaxDate'])
    
    # Select desired columns
    df_daily = df_daily.drop(columns=['StationID', 'StationNameEN', 'StationAttribute'])

    # Group df_daily by year
    grouped_by_year = df_daily.groupby(df_daily['AirTemperatureMaxDate'].dt.year)

    # Accessing each year within the station
    for year, df_year in grouped_by_year:
        print(f"  Year: {year}")

        # Display the result for each year
        display(df_year)
        
        # save it as csv
        df_year.to_csv(f'{station_name_folder}/{year}AirTemperature.csv', index=False)


    print("\n")

Station: 嘉義
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          嘉義               17.4              27.8            2018-01-01
1462          嘉義               17.4              27.8            2018-01-02
1463          嘉義               17.4              27.8            2018-01-03
1464          嘉義               17.4              27.8            2018-01-04
1465          嘉義               17.4              27.8            2018-01-05
...          ...                ...               ...                   ...
1821          嘉義               20.7              31.6            2018-12-27
1822          嘉義               20.7              31.6            2018-12-28
1823          嘉義               20.7              31.6            2018-12-29
1824          嘉義               20.7              31.6            2018-12-30
1825          嘉義               20.7              31.6            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          嘉義               19.2              30.9            2019-01-01
1097          嘉義               19.2              30.9            2019-01-02
1098          嘉義               19.2              30.9            2019-01-03
1099          嘉義               19.2              30.9            2019-01-04
1100          嘉義               19.2              30.9            2019-01-05
...          ...                ...               ...                   ...
1456          嘉義               19.1              30.0            2019-12-27
1457          嘉義               19.1              30.0            2019-12-28
1458          嘉義               19.1              30.0            2019-12-29
1459          嘉義               19.1              30.0            2019-12-30
1460          嘉義               19.1              30.0            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           嘉義               18.2              29.9            2020-01-01
731           嘉義               18.2              29.9            2020-01-02
732           嘉義               18.2              29.9            2020-01-03
733           嘉義               18.2              29.9            2020-01-04
734           嘉義               18.2              29.9            2020-01-05
...          ...                ...               ...                   ...
1091          嘉義               19.8              29.8            2020-12-27
1092          嘉義               19.8              29.8            2020-12-28
1093          嘉義               19.8              29.8            2020-12-29
1094          嘉義               19.8              29.8            2020-12-30
1095          嘉義               19.8              29.8            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          嘉義               15.7              29.6            2021-01-01
366          嘉義               15.7              29.6            2021-01-02
367          嘉義               15.7              29.6            2021-01-03
368          嘉義               15.7              29.6            2021-01-04
369          嘉義               15.7              29.6            2021-01-05
..          ...                ...               ...                   ...
725          嘉義               18.4              28.3            2021-12-27
726          嘉義               18.4              28.3            2021-12-28
727          嘉義               18.4              28.3            2021-12-29
728          嘉義               18.4              28.3            2021-12-30
729          嘉義               18.4              28.3            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            嘉義               17.7              27.4            2022-01-01
1            嘉義               17.7              27.4            2022-01-02
2            嘉義               17.7              27.4            2022-01-03
3            嘉義               17.7              27.4            2022-01-04
4            嘉義               17.7              27.4            2022-01-05
..          ...                ...               ...                   ...
360          嘉義               17.6              29.3            2022-12-27
361          嘉義               17.6              29.3            2022-12-28
362          嘉義               17.6              29.3            2022-12-29
363          嘉義               17.6              29.3            2022-12-30
364          嘉義               17.6              29.3            2022-12-31

[365 rows x 4 columns]

Station: 基隆
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          基隆               16.3              24.3            2018-01-01
1462          基隆               16.3              24.3            2018-01-02
1463          基隆               16.3              24.3            2018-01-03
1464          基隆               16.3              24.3            2018-01-04
1465          基隆               16.3              24.3            2018-01-05
...          ...                ...               ...                   ...
1821          基隆               19.1              29.8            2018-12-27
1822          基隆               19.1              29.8            2018-12-28
1823          基隆               19.1              29.8            2018-12-29
1824          基隆               19.1              29.8            2018-12-30
1825          基隆               19.1              29.8            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          基隆               17.9              27.2            2019-01-01
1097          基隆               17.9              27.2            2019-01-02
1098          基隆               17.9              27.2            2019-01-03
1099          基隆               17.9              27.2            2019-01-04
1100          基隆               17.9              27.2            2019-01-05
...          ...                ...               ...                   ...
1456          基隆               18.6              28.3            2019-12-27
1457          基隆               18.6              28.3            2019-12-28
1458          基隆               18.6              28.3            2019-12-29
1459          基隆               18.6              28.3            2019-12-30
1460          基隆               18.6              28.3            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           基隆               17.2              26.5            2020-01-01
731           基隆               17.2              26.5            2020-01-02
732           基隆               17.2              26.5            2020-01-03
733           基隆               17.2              26.5            2020-01-04
734           基隆               17.2              26.5            2020-01-05
...          ...                ...               ...                   ...
1091          基隆               18.0              23.1            2020-12-27
1092          基隆               18.0              23.1            2020-12-28
1093          基隆               18.0              23.1            2020-12-29
1094          基隆               18.0              23.1            2020-12-30
1095          基隆               18.0              23.1            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          基隆               15.6              28.1            2021-01-01
366          基隆               15.6              28.1            2021-01-02
367          基隆               15.6              28.1            2021-01-03
368          基隆               15.6              28.1            2021-01-04
369          基隆               15.6              28.1            2021-01-05
..          ...                ...               ...                   ...
725          基隆               18.0              25.8            2021-12-27
726          基隆               18.0              25.8            2021-12-28
727          基隆               18.0              25.8            2021-12-29
728          基隆               18.0              25.8            2021-12-30
729          基隆               18.0              25.8            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            基隆               16.6              23.8            2022-01-01
1            基隆               16.6              23.8            2022-01-02
2            基隆               16.6              23.8            2022-01-03
3            基隆               16.6              23.8            2022-01-04
4            基隆               16.6              23.8            2022-01-05
..          ...                ...               ...                   ...
360          基隆               16.6              22.5            2022-12-27
361          基隆               16.6              22.5            2022-12-28
362          基隆               16.6              22.5            2022-12-29
363          基隆               16.6              22.5            2022-12-30
364          基隆               16.6              22.5            2022-12-31

[365 rows x 4 columns]

Station: 大武
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          大武               20.0              31.2            2018-01-01
1462          大武               20.0              31.2            2018-01-02
1463          大武               20.0              31.2            2018-01-03
1464          大武               20.0              31.2            2018-01-04
1465          大武               20.0              31.2            2018-01-05
...          ...                ...               ...                   ...
1821          大武               22.7              29.0            2018-12-27
1822          大武               22.7              29.0            2018-12-28
1823          大武               22.7              29.0            2018-12-29
1824          大武               22.7              29.0            2018-12-30
1825          大武               22.7              29.0            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          大武               21.9              31.5            2019-01-01
1097          大武               21.9              31.5            2019-01-02
1098          大武               21.9              31.5            2019-01-03
1099          大武               21.9              31.5            2019-01-04
1100          大武               21.9              31.5            2019-01-05
...          ...                ...               ...                   ...
1456          大武               21.8              28.5            2019-12-27
1457          大武               21.8              28.5            2019-12-28
1458          大武               21.8              28.5            2019-12-29
1459          大武               21.8              28.5            2019-12-30
1460          大武               21.8              28.5            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           大武               21.3              28.8            2020-01-01
731           大武               21.3              28.8            2020-01-02
732           大武               21.3              28.8            2020-01-03
733           大武               21.3              28.8            2020-01-04
734           大武               21.3              28.8            2020-01-05
...          ...                ...               ...                   ...
1091          大武               22.0              27.9            2020-12-27
1092          大武               22.0              27.9            2020-12-28
1093          大武               22.0              27.9            2020-12-29
1094          大武               22.0              27.9            2020-12-30
1095          大武               22.0              27.9            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          大武               19.2              26.0            2021-01-01
366          大武               19.2              26.0            2021-01-02
367          大武               19.2              26.0            2021-01-03
368          大武               19.2              26.0            2021-01-04
369          大武               19.2              26.0            2021-01-05
..          ...                ...               ...                   ...
725          大武               21.5              27.0            2021-12-27
726          大武               21.5              27.0            2021-12-28
727          大武               21.5              27.0            2021-12-29
728          大武               21.5              27.0            2021-12-30
729          大武               21.5              27.0            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            大武               20.7              29.6            2022-01-01
1            大武               20.7              29.6            2022-01-02
2            大武               20.7              29.6            2022-01-03
3            大武               20.7              29.6            2022-01-04
4            大武               20.7              29.6            2022-01-05
..          ...                ...               ...                   ...
360          大武               21.7              28.4            2022-12-27
361          大武               21.7              28.4            2022-12-28
362          大武               21.7              28.4            2022-12-29
363          大武               21.7              28.4            2022-12-30
364          大武               21.7              28.4            2022-12-31

[365 rows x 4 columns]

Station: 宜蘭
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          宜蘭               16.7              25.3            2018-01-01
1462          宜蘭               16.7              25.3            2018-01-02
1463          宜蘭               16.7              25.3            2018-01-03
1464          宜蘭               16.7              25.3            2018-01-04
1465          宜蘭               16.7              25.3            2018-01-05
...          ...                ...               ...                   ...
1821          宜蘭               19.3              29.0            2018-12-27
1822          宜蘭               19.3              29.0            2018-12-28
1823          宜蘭               19.3              29.0            2018-12-29
1824          宜蘭               19.3              29.0            2018-12-30
1825          宜蘭               19.3              29.0            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          宜蘭               18.4              28.0            2019-01-01
1097          宜蘭               18.4              28.0            2019-01-02
1098          宜蘭               18.4              28.0            2019-01-03
1099          宜蘭               18.4              28.0            2019-01-04
1100          宜蘭               18.4              28.0            2019-01-05
...          ...                ...               ...                   ...
1456          宜蘭               18.8              27.7            2019-12-27
1457          宜蘭               18.8              27.7            2019-12-28
1458          宜蘭               18.8              27.7            2019-12-29
1459          宜蘭               18.8              27.7            2019-12-30
1460          宜蘭               18.8              27.7            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           宜蘭               18.3              27.9            2020-01-01
731           宜蘭               18.3              27.9            2020-01-02
732           宜蘭               18.3              27.9            2020-01-03
733           宜蘭               18.3              27.9            2020-01-04
734           宜蘭               18.3              27.9            2020-01-05
...          ...                ...               ...                   ...
1091          宜蘭               18.0              26.6            2020-12-27
1092          宜蘭               18.0              26.6            2020-12-28
1093          宜蘭               18.0              26.6            2020-12-29
1094          宜蘭               18.0              26.6            2020-12-30
1095          宜蘭               18.0              26.6            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          宜蘭               15.3              25.2            2021-01-01
366          宜蘭               15.3              25.2            2021-01-02
367          宜蘭               15.3              25.2            2021-01-03
368          宜蘭               15.3              25.2            2021-01-04
369          宜蘭               15.3              25.2            2021-01-05
..          ...                ...               ...                   ...
725          宜蘭               17.7              26.6            2021-12-27
726          宜蘭               17.7              26.6            2021-12-28
727          宜蘭               17.7              26.6            2021-12-29
728          宜蘭               17.7              26.6            2021-12-30
729          宜蘭               17.7              26.6            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            宜蘭               17.1              25.3            2022-01-01
1            宜蘭               17.1              25.3            2022-01-02
2            宜蘭               17.1              25.3            2022-01-03
3            宜蘭               17.1              25.3            2022-01-04
4            宜蘭               17.1              25.3            2022-01-05
..          ...                ...               ...                   ...
360          宜蘭               16.7              28.0            2022-12-27
361          宜蘭               16.7              28.0            2022-12-28
362          宜蘭               16.7              28.0            2022-12-29
363          宜蘭               16.7              28.0            2022-12-30
364          宜蘭               16.7              28.0            2022-12-31

[365 rows x 4 columns]

Station: 彭佳嶼
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461         彭佳嶼               16.0              22.4            2018-01-01
1462         彭佳嶼               16.0              22.4            2018-01-02
1463         彭佳嶼               16.0              22.4            2018-01-03
1464         彭佳嶼               16.0              22.4            2018-01-04
1465         彭佳嶼               16.0              22.4            2018-01-05
...          ...                ...               ...                   ...
1821         彭佳嶼               18.7              27.8            2018-12-27
1822         彭佳嶼               18.7              27.8            2018-12-28
1823         彭佳嶼               18.7              27.8            2018-12-29
1824         彭佳嶼               18.7              27.8            2018-12-30
1825         彭佳嶼               18.7              27.8            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096         彭佳嶼               17.6              25.0            2019-01-01
1097         彭佳嶼               17.6              25.0            2019-01-02
1098         彭佳嶼               17.6              25.0            2019-01-03
1099         彭佳嶼               17.6              25.0            2019-01-04
1100         彭佳嶼               17.6              25.0            2019-01-05
...          ...                ...               ...                   ...
1456         彭佳嶼               18.3              25.2            2019-12-27
1457         彭佳嶼               18.3              25.2            2019-12-28
1458         彭佳嶼               18.3              25.2            2019-12-29
1459         彭佳嶼               18.3              25.2            2019-12-30
1460         彭佳嶼               18.3              25.2            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730          彭佳嶼               17.0              24.4            2020-01-01
731          彭佳嶼               17.0              24.4            2020-01-02
732          彭佳嶼               17.0              24.4            2020-01-03
733          彭佳嶼               17.0              24.4            2020-01-04
734          彭佳嶼               17.0              24.4            2020-01-05
...          ...                ...               ...                   ...
1091         彭佳嶼               17.8              24.6            2020-12-27
1092         彭佳嶼               17.8              24.6            2020-12-28
1093         彭佳嶼               17.8              24.6            2020-12-29
1094         彭佳嶼               17.8              24.6            2020-12-30
1095         彭佳嶼               17.8              24.6            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365         彭佳嶼               15.3              22.9            2021-01-01
366         彭佳嶼               15.3              22.9            2021-01-02
367         彭佳嶼               15.3              22.9            2021-01-03
368         彭佳嶼               15.3              22.9            2021-01-04
369         彭佳嶼               15.3              22.9            2021-01-05
..          ...                ...               ...                   ...
725         彭佳嶼               17.6              25.0            2021-12-27
726         彭佳嶼               17.6              25.0            2021-12-28
727         彭佳嶼               17.6              25.0            2021-12-29
728         彭佳嶼               17.6              25.0            2021-12-30
729         彭佳嶼               17.6              25.0            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0           彭佳嶼               16.5              22.5            2022-01-01
1           彭佳嶼               16.5              22.5            2022-01-02
2           彭佳嶼               16.5              22.5            2022-01-03
3           彭佳嶼               16.5              22.5            2022-01-04
4           彭佳嶼               16.5              22.5            2022-01-05
..          ...                ...               ...                   ...
360         彭佳嶼               16.2              23.0            2022-12-27
361         彭佳嶼               16.2              23.0            2022-12-28
362         彭佳嶼               16.2              23.0            2022-12-29
363         彭佳嶼               16.2              23.0            2022-12-30
364         彭佳嶼               16.2              23.0            2022-12-31

[365 rows x 4 columns]

Station: 恆春
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          恆春               21.4              28.3            2018-01-01
1462          恆春               21.4              28.3            2018-01-02
1463          恆春               21.4              28.3            2018-01-03
1464          恆春               21.4              28.3            2018-01-04
1465          恆春               21.4              28.3            2018-01-05
...          ...                ...               ...                   ...
1821          恆春               23.6              30.9            2018-12-27
1822          恆春               23.6              30.9            2018-12-28
1823          恆春               23.6              30.9            2018-12-29
1824          恆春               23.6              30.9            2018-12-30
1825          恆春               23.6              30.9            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          恆春               22.6              29.8            2019-01-01
1097          恆春               22.6              29.8            2019-01-02
1098          恆春               22.6              29.8            2019-01-03
1099          恆春               22.6              29.8            2019-01-04
1100          恆春               22.6              29.8            2019-01-05
...          ...                ...               ...                   ...
1456          恆春               22.4              29.5            2019-12-27
1457          恆春               22.4              29.5            2019-12-28
1458          恆春               22.4              29.5            2019-12-29
1459          恆春               22.4              29.5            2019-12-30
1460          恆春               22.4              29.5            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           恆春               21.9              29.3            2020-01-01
731           恆春               21.9              29.3            2020-01-02
732           恆春               21.9              29.3            2020-01-03
733           恆春               21.9              29.3            2020-01-04
734           恆春               21.9              29.3            2020-01-05
...          ...                ...               ...                   ...
1091          恆春               22.6              28.7            2020-12-27
1092          恆春               22.6              28.7            2020-12-28
1093          恆春               22.6              28.7            2020-12-29
1094          恆春               22.6              28.7            2020-12-30
1095          恆春               22.6              28.7            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          恆春               19.8              27.1            2021-01-01
366          恆春               19.8              27.1            2021-01-02
367          恆春               19.8              27.1            2021-01-03
368          恆春               19.8              27.1            2021-01-04
369          恆春               19.8              27.1            2021-01-05
..          ...                ...               ...                   ...
725          恆春               22.0              28.1            2021-12-27
726          恆春               22.0              28.1            2021-12-28
727          恆春               22.0              28.1            2021-12-29
728          恆春               22.0              28.1            2021-12-30
729          恆春               22.0              28.1            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            恆春               21.3              26.7            2022-01-01
1            恆春               21.3              26.7            2022-01-02
2            恆春               21.3              26.7            2022-01-03
3            恆春               21.3              26.7            2022-01-04
4            恆春               21.3              26.7            2022-01-05
..          ...                ...               ...                   ...
360          恆春               22.1              29.8            2022-12-27
361          恆春               22.1              29.8            2022-12-28
362          恆春               22.1              29.8            2022-12-29
363          恆春               22.1              29.8            2022-12-30
364          恆春               22.1              29.8            2022-12-31

[365 rows x 4 columns]

Station: 成功
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          成功               18.6              25.7            2018-01-01
1462          成功               18.6              25.7            2018-01-02
1463          成功               18.6              25.7            2018-01-03
1464          成功               18.6              25.7            2018-01-04
1465          成功               18.6              25.7            2018-01-05
...          ...                ...               ...                   ...
1821          成功               21.1              28.9            2018-12-27
1822          成功               21.1              28.9            2018-12-28
1823          成功               21.1              28.9            2018-12-29
1824          成功               21.1              28.9            2018-12-30
1825          成功               21.1              28.9            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          成功               20.3              27.5            2019-01-01
1097          成功               20.3              27.5            2019-01-02
1098          成功               20.3              27.5            2019-01-03
1099          成功               20.3              27.5            2019-01-04
1100          成功               20.3              27.5            2019-01-05
...          ...                ...               ...                   ...
1456          成功               20.5              27.9            2019-12-27
1457          成功               20.5              27.9            2019-12-28
1458          成功               20.5              27.9            2019-12-29
1459          成功               20.5              27.9            2019-12-30
1460          成功               20.5              27.9            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           成功               19.8              27.5            2020-01-01
731           成功               19.8              27.5            2020-01-02
732           成功               19.8              27.5            2020-01-03
733           成功               19.8              27.5            2020-01-04
734           成功               19.8              27.5            2020-01-05
...          ...                ...               ...                   ...
1091          成功               20.3              27.7            2020-12-27
1092          成功               20.3              27.7            2020-12-28
1093          成功               20.3              27.7            2020-12-29
1094          成功               20.3              27.7            2020-12-30
1095          成功               20.3              27.7            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          成功               17.3              25.3            2021-01-01
366          成功               17.3              25.3            2021-01-02
367          成功               17.3              25.3            2021-01-03
368          成功               17.3              25.3            2021-01-04
369          成功               17.3              25.3            2021-01-05
..          ...                ...               ...                   ...
725          成功               20.0              26.2            2021-12-27
726          成功               20.0              26.2            2021-12-28
727          成功               20.0              26.2            2021-12-29
728          成功               20.0              26.2            2021-12-30
729          成功               20.0              26.2            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            成功               19.3              26.4            2022-01-01
1            成功               19.3              26.4            2022-01-02
2            成功               19.3              26.4            2022-01-03
3            成功               19.3              26.4            2022-01-04
4            成功               19.3              26.4            2022-01-05
..          ...                ...               ...                   ...
360          成功               20.3              29.7            2022-12-27
361          成功               20.3              29.7            2022-12-28
362          成功               20.3              29.7            2022-12-29
363          成功               20.3              29.7            2022-12-30
364          成功               20.3              29.7            2022-12-31

[365 rows x 4 columns]

Station: 新屋
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          新屋               15.9              26.2            2018-01-01
1462          新屋               15.9              26.2            2018-01-02
1463          新屋               15.9              26.2            2018-01-03
1464          新屋               15.9              26.2            2018-01-04
1465          新屋               15.9              26.2            2018-01-05
...          ...                ...               ...                   ...
1821          新屋               18.5              30.8            2018-12-27
1822          新屋               18.5              30.8            2018-12-28
1823          新屋               18.5              30.8            2018-12-29
1824          新屋               18.5              30.8            2018-12-30
1825          新屋               18.5              30.8            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          新屋               17.1              24.0            2019-01-01
1097          新屋               17.1              24.0            2019-01-02
1098          新屋               17.1              24.0            2019-01-03
1099          新屋               17.1              24.0            2019-01-04
1100          新屋               17.1              24.0            2019-01-05
...          ...                ...               ...                   ...
1456          新屋               18.0              27.5            2019-12-27
1457          新屋               18.0              27.5            2019-12-28
1458          新屋               18.0              27.5            2019-12-29
1459          新屋               18.0              27.5            2019-12-30
1460          新屋               18.0              27.5            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           新屋               16.5              26.4            2020-01-01
731           新屋               16.5              26.4            2020-01-02
732           新屋               16.5              26.4            2020-01-03
733           新屋               16.5              26.4            2020-01-04
734           新屋               16.5              26.4            2020-01-05
...          ...                ...               ...                   ...
1091          新屋               17.4              22.7            2020-12-27
1092          新屋               17.4              22.7            2020-12-28
1093          新屋               17.4              22.7            2020-12-29
1094          新屋               17.4              22.7            2020-12-30
1095          新屋               17.4              22.7            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          新屋               14.6              26.2            2021-01-01
366          新屋               14.6              26.2            2021-01-02
367          新屋               14.6              26.2            2021-01-03
368          新屋               14.6              26.2            2021-01-04
369          新屋               14.6              26.2            2021-01-05
..          ...                ...               ...                   ...
725          新屋               17.6              25.4            2021-12-27
726          新屋               17.6              25.4            2021-12-28
727          新屋               17.6              25.4            2021-12-29
728          新屋               17.6              25.4            2021-12-30
729          新屋               17.6              25.4            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            新屋               16.5              22.2            2022-01-01
1            新屋               16.5              22.2            2022-01-02
2            新屋               16.5              22.2            2022-01-03
3            新屋               16.5              22.2            2022-01-04
4            新屋               16.5              22.2            2022-01-05
..          ...                ...               ...                   ...
360          新屋               16.2              23.7            2022-12-27
361          新屋               16.2              23.7            2022-12-28
362          新屋               16.2              23.7            2022-12-29
363          新屋               16.2              23.7            2022-12-30
364          新屋               16.2              23.7            2022-12-31

[365 rows x 4 columns]

Station: 新竹
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          新竹               16.3              25.5            2018-01-01
1462          新竹               16.3              25.5            2018-01-02
1463          新竹               16.3              25.5            2018-01-03
1464          新竹               16.3              25.5            2018-01-04
1465          新竹               16.3              25.5            2018-01-05
...          ...                ...               ...                   ...
1821          新竹               19.1              29.8            2018-12-27
1822          新竹               19.1              29.8            2018-12-28
1823          新竹               19.1              29.8            2018-12-29
1824          新竹               19.1              29.8            2018-12-30
1825          新竹               19.1              29.8            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          新竹               17.7              25.1            2019-01-01
1097          新竹               17.7              25.1            2019-01-02
1098          新竹               17.7              25.1            2019-01-03
1099          新竹               17.7              25.1            2019-01-04
1100          新竹               17.7              25.1            2019-01-05
...          ...                ...               ...                   ...
1456          新竹               18.3              26.9            2019-12-27
1457          新竹               18.3              26.9            2019-12-28
1458          新竹               18.3              26.9            2019-12-29
1459          新竹               18.3              26.9            2019-12-30
1460          新竹               18.3              26.9            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           新竹               16.7              27.5            2020-01-01
731           新竹               16.7              27.5            2020-01-02
732           新竹               16.7              27.5            2020-01-03
733           新竹               16.7              27.5            2020-01-04
734           新竹               16.7              27.5            2020-01-05
...          ...                ...               ...                   ...
1091          新竹               18.0              24.0            2020-12-27
1092          新竹               18.0              24.0            2020-12-28
1093          新竹               18.0              24.0            2020-12-29
1094          新竹               18.0              24.0            2020-12-30
1095          新竹               18.0              24.0            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          新竹               15.3              27.9            2021-01-01
366          新竹               15.3              27.9            2021-01-02
367          新竹               15.3              27.9            2021-01-03
368          新竹               15.3              27.9            2021-01-04
369          新竹               15.3              27.9            2021-01-05
..          ...                ...               ...                   ...
725          新竹               17.9              26.5            2021-12-27
726          新竹               17.9              26.5            2021-12-28
727          新竹               17.9              26.5            2021-12-29
728          新竹               17.9              26.5            2021-12-30
729          新竹               17.9              26.5            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            新竹               16.9              24.2            2022-01-01
1            新竹               16.9              24.2            2022-01-02
2            新竹               16.9              24.2            2022-01-03
3            新竹               16.9              24.2            2022-01-04
4            新竹               16.9              24.2            2022-01-05
..          ...                ...               ...                   ...
360          新竹               16.4              23.3            2022-12-27
361          新竹               16.4              23.3            2022-12-28
362          新竹               16.4              23.3            2022-12-29
363          新竹               16.4              23.3            2022-12-30
364          新竹               16.4              23.3            2022-12-31

[365 rows x 4 columns]

Station: 日月潭
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461         日月潭               14.8              25.5            2018-01-01
1462         日月潭               14.8              25.5            2018-01-02
1463         日月潭               14.8              25.5            2018-01-03
1464         日月潭               14.8              25.5            2018-01-04
1465         日月潭               14.8              25.5            2018-01-05
...          ...                ...               ...                   ...
1821         日月潭               17.8              27.7            2018-12-27
1822         日月潭               17.8              27.7            2018-12-28
1823         日月潭               17.8              27.7            2018-12-29
1824         日月潭               17.8              27.7            2018-12-30
1825         日月潭               17.8              27.7            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096         日月潭               16.3              26.0            2019-01-01
1097         日月潭               16.3              26.0            2019-01-02
1098         日月潭               16.3              26.0            2019-01-03
1099         日月潭               16.3              26.0            2019-01-04
1100         日月潭               16.3              26.0            2019-01-05
...          ...                ...               ...                   ...
1456         日月潭               15.9              25.4            2019-12-27
1457         日月潭               15.9              25.4            2019-12-28
1458         日月潭               15.9              25.4            2019-12-29
1459         日月潭               15.9              25.4            2019-12-30
1460         日月潭               15.9              25.4            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730          日月潭               14.8              24.7            2020-01-01
731          日月潭               14.8              24.7            2020-01-02
732          日月潭               14.8              24.7            2020-01-03
733          日月潭               14.8              24.7            2020-01-04
734          日月潭               14.8              24.7            2020-01-05
...          ...                ...               ...                   ...
1091         日月潭               16.8              28.2            2020-12-27
1092         日月潭               16.8              28.2            2020-12-28
1093         日月潭               16.8              28.2            2020-12-29
1094         日月潭               16.8              28.2            2020-12-30
1095         日月潭               16.8              28.2            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365         日月潭               12.9              24.8            2021-01-01
366         日月潭               12.9              24.8            2021-01-02
367         日月潭               12.9              24.8            2021-01-03
368         日月潭               12.9              24.8            2021-01-04
369         日月潭               12.9              24.8            2021-01-05
..          ...                ...               ...                   ...
725         日月潭               15.5              24.4            2021-12-27
726         日月潭               15.5              24.4            2021-12-28
727         日月潭               15.5              24.4            2021-12-29
728         日月潭               15.5              24.4            2021-12-30
729         日月潭               15.5              24.4            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0           日月潭               14.9              24.0            2022-01-01
1           日月潭               14.9              24.0            2022-01-02
2           日月潭               14.9              24.0            2022-01-03
3           日月潭               14.9              24.0            2022-01-04
4           日月潭               14.9              24.0            2022-01-05
..          ...                ...               ...                   ...
360         日月潭               15.2              26.5            2022-12-27
361         日月潭               15.2              26.5            2022-12-28
362         日月潭               15.2              26.5            2022-12-29
363         日月潭               15.2              26.5            2022-12-30
364         日月潭               15.2              26.5            2022-12-31

[365 rows x 4 columns]

Station: 東吉島
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461         東吉島               18.6              26.0            2018-01-01
1462         東吉島               18.6              26.0            2018-01-02
1463         東吉島               18.6              26.0            2018-01-03
1464         東吉島               18.6              26.0            2018-01-04
1465         東吉島               18.6              26.0            2018-01-05
...          ...                ...               ...                   ...
1821         東吉島               21.6              27.8            2018-12-27
1822         東吉島               21.6              27.8            2018-12-28
1823         東吉島               21.6              27.8            2018-12-29
1824         東吉島               21.6              27.8            2018-12-30
1825         東吉島               21.6              27.8            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096         東吉島               19.6              25.8            2019-01-01
1097         東吉島               19.6              25.8            2019-01-02
1098         東吉島               19.6              25.8            2019-01-03
1099         東吉島               19.6              25.8            2019-01-04
1100         東吉島               19.6              25.8            2019-01-05
...          ...                ...               ...                   ...
1456         東吉島               20.5              27.2            2019-12-27
1457         東吉島               20.5              27.2            2019-12-28
1458         東吉島               20.5              27.2            2019-12-29
1459         東吉島               20.5              27.2            2019-12-30
1460         東吉島               20.5              27.2            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730          東吉島               19.7              26.9            2020-01-01
731          東吉島               19.7              26.9            2020-01-02
732          東吉島               19.7              26.9            2020-01-03
733          東吉島               19.7              26.9            2020-01-04
734          東吉島               19.7              26.9            2020-01-05
...          ...                ...               ...                   ...
1091         東吉島               20.1              25.2            2020-12-27
1092         東吉島               20.1              25.2            2020-12-28
1093         東吉島               20.1              25.2            2020-12-29
1094         東吉島               20.1              25.2            2020-12-30
1095         東吉島               20.1              25.2            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365         東吉島               16.1              20.1            2021-01-01
366         東吉島               16.1              20.1            2021-01-02
367         東吉島               16.1              20.1            2021-01-03
368         東吉島               16.1              20.1            2021-01-04
369         東吉島               16.1              20.1            2021-01-05
..          ...                ...               ...                   ...
725         東吉島               20.1              24.6            2021-12-27
726         東吉島               20.1              24.6            2021-12-28
727         東吉島               20.1              24.6            2021-12-29
728         東吉島               20.1              24.6            2021-12-30
729         東吉島               20.1              24.6            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0           東吉島               19.0              22.6            2022-01-01
1           東吉島               19.0              22.6            2022-01-02
2           東吉島               19.0              22.6            2022-01-03
3           東吉島               19.0              22.6            2022-01-04
4           東吉島               19.0              22.6            2022-01-05
..          ...                ...               ...                   ...
360         東吉島               18.9              22.8            2022-12-27
361         東吉島               18.9              22.8            2022-12-28
362         東吉島               18.9              22.8            2022-12-29
363         東吉島               18.9              22.8            2022-12-30
364         東吉島               18.9              22.8            2022-12-31

[365 rows x 4 columns]

Station: 板橋
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          板橋               16.6              25.7            2018-01-01
1462          板橋               16.6              25.7            2018-01-02
1463          板橋               16.6              25.7            2018-01-03
1464          板橋               16.6              25.7            2018-01-04
1465          板橋               16.6              25.7            2018-01-05
...          ...                ...               ...                   ...
1821          板橋               19.1              30.1            2018-12-27
1822          板橋               19.1              30.1            2018-12-28
1823          板橋               19.1              30.1            2018-12-29
1824          板橋               19.1              30.1            2018-12-30
1825          板橋               19.1              30.1            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          板橋               18.2              27.7            2019-01-01
1097          板橋               18.2              27.7            2019-01-02
1098          板橋               18.2              27.7            2019-01-03
1099          板橋               18.2              27.7            2019-01-04
1100          板橋               18.2              27.7            2019-01-05
...          ...                ...               ...                   ...
1456          板橋               18.6              28.4            2019-12-27
1457          板橋               18.6              28.4            2019-12-28
1458          板橋               18.6              28.4            2019-12-29
1459          板橋               18.6              28.4            2019-12-30
1460          板橋               18.6              28.4            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           板橋               17.3              27.6            2020-01-01
731           板橋               17.3              27.6            2020-01-02
732           板橋               17.3              27.6            2020-01-03
733           板橋               17.3              27.6            2020-01-04
734           板橋               17.3              27.6            2020-01-05
...          ...                ...               ...                   ...
1091          板橋               17.9              25.8            2020-12-27
1092          板橋               17.9              25.8            2020-12-28
1093          板橋               17.9              25.8            2020-12-29
1094          板橋               17.9              25.8            2020-12-30
1095          板橋               17.9              25.8            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          板橋               15.8              30.3            2021-01-01
366          板橋               15.8              30.3            2021-01-02
367          板橋               15.8              30.3            2021-01-03
368          板橋               15.8              30.3            2021-01-04
369          板橋               15.8              30.3            2021-01-05
..          ...                ...               ...                   ...
725          板橋               18.1              27.9            2021-12-27
726          板橋               18.1              27.9            2021-12-28
727          板橋               18.1              27.9            2021-12-29
728          板橋               18.1              27.9            2021-12-30
729          板橋               18.1              27.9            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            板橋               17.2              26.4            2022-01-01
1            板橋               17.2              26.4            2022-01-02
2            板橋               17.2              26.4            2022-01-03
3            板橋               17.2              26.4            2022-01-04
4            板橋               17.2              26.4            2022-01-05
..          ...                ...               ...                   ...
360          板橋               16.5              25.0            2022-12-27
361          板橋               16.5              25.0            2022-12-28
362          板橋               16.5              25.0            2022-12-29
363          板橋               16.5              25.0            2022-12-30
364          板橋               16.5              25.0            2022-12-31

[365 rows x 4 columns]

Station: 淡水
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          淡水               16.6              25.3            2018-01-01
1462          淡水               16.6              25.3            2018-01-02
1463          淡水               16.6              25.3            2018-01-03
1464          淡水               16.6              25.3            2018-01-04
1465          淡水               16.6              25.3            2018-01-05
...          ...                ...               ...                   ...
1821          淡水               18.6              28.7            2018-12-27
1822          淡水               18.6              28.7            2018-12-28
1823          淡水               18.6              28.7            2018-12-29
1824          淡水               18.6              28.7            2018-12-30
1825          淡水               18.6              28.7            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          淡水               17.6              27.3            2019-01-01
1097          淡水               17.6              27.3            2019-01-02
1098          淡水               17.6              27.3            2019-01-03
1099          淡水               17.6              27.3            2019-01-04
1100          淡水               17.6              27.3            2019-01-05
...          ...                ...               ...                   ...
1456          淡水               18.0              26.8            2019-12-27
1457          淡水               18.0              26.8            2019-12-28
1458          淡水               18.0              26.8            2019-12-29
1459          淡水               18.0              26.8            2019-12-30
1460          淡水               18.0              26.8            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           淡水               16.8              26.8            2020-01-01
731           淡水               16.8              26.8            2020-01-02
732           淡水               16.8              26.8            2020-01-03
733           淡水               16.8              26.8            2020-01-04
734           淡水               16.8              26.8            2020-01-05
...          ...                ...               ...                   ...
1091          淡水               17.4              23.6            2020-12-27
1092          淡水               17.4              23.6            2020-12-28
1093          淡水               17.4              23.6            2020-12-29
1094          淡水               17.4              23.6            2020-12-30
1095          淡水               17.4              23.6            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          淡水               15.0              28.0            2021-01-01
366          淡水               15.0              28.0            2021-01-02
367          淡水               15.0              28.0            2021-01-03
368          淡水               15.0              28.0            2021-01-04
369          淡水               15.0              28.0            2021-01-05
..          ...                ...               ...                   ...
725          淡水               17.3              26.9            2021-12-27
726          淡水               17.3              26.9            2021-12-28
727          淡水               17.3              26.9            2021-12-29
728          淡水               17.3              26.9            2021-12-30
729          淡水               17.3              26.9            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            淡水               16.5              26.4            2022-01-01
1            淡水               16.5              26.4            2022-01-02
2            淡水               16.5              26.4            2022-01-03
3            淡水               16.5              26.4            2022-01-04
4            淡水               16.5              26.4            2022-01-05
..          ...                ...               ...                   ...
360          淡水               15.8              23.3            2022-12-27
361          淡水               15.8              23.3            2022-12-28
362          淡水               15.8              23.3            2022-12-29
363          淡水               15.8              23.3            2022-12-30
364          淡水               15.8              23.3            2022-12-31

[365 rows x 4 columns]

Station: 澎湖
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          澎湖               17.6              24.2            2018-01-01
1462          澎湖               17.6              24.2            2018-01-02
1463          澎湖               17.6              24.2            2018-01-03
1464          澎湖               17.6              24.2            2018-01-04
1465          澎湖               17.6              24.2            2018-01-05
...          ...                ...               ...                   ...
1821          澎湖               20.7              28.6            2018-12-27
1822          澎湖               20.7              28.6            2018-12-28
1823          澎湖               20.7              28.6            2018-12-29
1824          澎湖               20.7              28.6            2018-12-30
1825          澎湖               20.7              28.6            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          澎湖               18.0              26.8            2019-01-01
1097          澎湖               18.0              26.8            2019-01-02
1098          澎湖               18.0              26.8            2019-01-03
1099          澎湖               18.0              26.8            2019-01-04
1100          澎湖               18.0              26.8            2019-01-05
...          ...                ...               ...                   ...
1456          澎湖               19.1              27.0            2019-12-27
1457          澎湖               19.1              27.0            2019-12-28
1458          澎湖               19.1              27.0            2019-12-29
1459          澎湖               19.1              27.0            2019-12-30
1460          澎湖               19.1              27.0            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           澎湖               18.4              27.3            2020-01-01
731           澎湖               18.4              27.3            2020-01-02
732           澎湖               18.4              27.3            2020-01-03
733           澎湖               18.4              27.3            2020-01-04
734           澎湖               18.4              27.3            2020-01-05
...          ...                ...               ...                   ...
1091          澎湖               18.5              23.9            2020-12-27
1092          澎湖               18.5              23.9            2020-12-28
1093          澎湖               18.5              23.9            2020-12-29
1094          澎湖               18.5              23.9            2020-12-30
1095          澎湖               18.5              23.9            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          澎湖               15.5              19.9            2021-01-01
366          澎湖               15.5              19.9            2021-01-02
367          澎湖               15.5              19.9            2021-01-03
368          澎湖               15.5              19.9            2021-01-04
369          澎湖               15.5              19.9            2021-01-05
..          ...                ...               ...                   ...
725          澎湖               19.2              25.1            2021-12-27
726          澎湖               19.2              25.1            2021-12-28
727          澎湖               19.2              25.1            2021-12-29
728          澎湖               19.2              25.1            2021-12-30
729          澎湖               19.2              25.1            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            澎湖               18.0              22.1            2022-01-01
1            澎湖               18.0              22.1            2022-01-02
2            澎湖               18.0              22.1            2022-01-03
3            澎湖               18.0              22.1            2022-01-04
4            澎湖               18.0              22.1            2022-01-05
..          ...                ...               ...                   ...
360          澎湖               18.1              22.1            2022-12-27
361          澎湖               18.1              22.1            2022-12-28
362          澎湖               18.1              22.1            2022-12-29
363          澎湖               18.1              22.1            2022-12-30
364          澎湖               18.1              22.1            2022-12-31

[365 rows x 4 columns]

Station: 玉山
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          玉山                0.5              12.8            2018-01-01
1462          玉山                0.5              12.8            2018-01-02
1463          玉山                0.5              12.8            2018-01-03
1464          玉山                0.5              12.8            2018-01-04
1465          玉山                0.5              12.8            2018-01-05
...          ...                ...               ...                   ...
1821          玉山                5.1              16.6            2018-12-27
1822          玉山                5.1              16.6            2018-12-28
1823          玉山                5.1              16.6            2018-12-29
1824          玉山                5.1              16.6            2018-12-30
1825          玉山                5.1              16.6            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          玉山                2.8              16.0            2019-01-01
1097          玉山                2.8              16.0            2019-01-02
1098          玉山                2.8              16.0            2019-01-03
1099          玉山                2.8              16.0            2019-01-04
1100          玉山                2.8              16.0            2019-01-05
...          ...                ...               ...                   ...
1456          玉山                4.4              16.5            2019-12-27
1457          玉山                4.4              16.5            2019-12-28
1458          玉山                4.4              16.5            2019-12-29
1459          玉山                4.4              16.5            2019-12-30
1460          玉山                4.4              16.5            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           玉山                1.8              18.9            2020-01-01
731           玉山                1.8              18.9            2020-01-02
732           玉山                1.8              18.9            2020-01-03
733           玉山                1.8              18.9            2020-01-04
734           玉山                1.8              18.9            2020-01-05
...          ...                ...               ...                   ...
1091          玉山                0.9              16.1            2020-12-27
1092          玉山                0.9              16.1            2020-12-28
1093          玉山                0.9              16.1            2020-12-29
1094          玉山                0.9              16.1            2020-12-30
1095          玉山                0.9              16.1            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          玉山               -0.6              17.9            2021-01-01
366          玉山               -0.6              17.9            2021-01-02
367          玉山               -0.6              17.9            2021-01-03
368          玉山               -0.6              17.9            2021-01-04
369          玉山               -0.6              17.9            2021-01-05
..          ...                ...               ...                   ...
725          玉山                2.7              15.3            2021-12-27
726          玉山                2.7              15.3            2021-12-28
727          玉山                2.7              15.3            2021-12-29
728          玉山                2.7              15.3            2021-12-30
729          玉山                2.7              15.3            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            玉山                0.4              12.7            2022-01-01
1            玉山                0.4              12.7            2022-01-02
2            玉山                0.4              12.7            2022-01-03
3            玉山                0.4              12.7            2022-01-04
4            玉山                0.4              12.7            2022-01-05
..          ...                ...               ...                   ...
360          玉山                2.2              16.3            2022-12-27
361          玉山                2.2              16.3            2022-12-28
362          玉山                2.2              16.3            2022-12-29
363          玉山                2.2              16.3            2022-12-30
364          玉山                2.2              16.3            2022-12-31

[365 rows x 4 columns]

Station: 田中
資訊不足

Station: 竹子湖
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461         竹子湖               12.3              21.5            2018-01-01
1462         竹子湖               12.3              21.5            2018-01-02
1463         竹子湖               12.3              21.5            2018-01-03
1464         竹子湖               12.3              21.5            2018-01-04
1465         竹子湖               12.3              21.5            2018-01-05
...          ...                ...               ...                   ...
1821         竹子湖               15.0              25.0            2018-12-27
1822         竹子湖               15.0              25.0            2018-12-28
1823         竹子湖               15.0              25.0            2018-12-29
1824         竹子湖               15.0              25.0            2018-12-30
1825         竹子湖               15.0              25.0            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096         竹子湖               13.9              23.9            2019-01-01
1097         竹子湖               13.9              23.9            2019-01-02
1098         竹子湖               13.9              23.9            2019-01-03
1099         竹子湖               13.9              23.9            2019-01-04
1100         竹子湖               13.9              23.9            2019-01-05
...          ...                ...               ...                   ...
1456         竹子湖               14.3              23.1            2019-12-27
1457         竹子湖               14.3              23.1            2019-12-28
1458         竹子湖               14.3              23.1            2019-12-29
1459         竹子湖               14.3              23.1            2019-12-30
1460         竹子湖               14.3              23.1            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730          竹子湖               13.1              23.6            2020-01-01
731          竹子湖               13.1              23.6            2020-01-02
732          竹子湖               13.1              23.6            2020-01-03
733          竹子湖               13.1              23.6            2020-01-04
734          竹子湖               13.1              23.6            2020-01-05
...          ...                ...               ...                   ...
1091         竹子湖               13.4              21.8            2020-12-27
1092         竹子湖               13.4              21.8            2020-12-28
1093         竹子湖               13.4              21.8            2020-12-29
1094         竹子湖               13.4              21.8            2020-12-30
1095         竹子湖               13.4              21.8            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365         竹子湖               11.0              24.8            2021-01-01
366         竹子湖               11.0              24.8            2021-01-02
367         竹子湖               11.0              24.8            2021-01-03
368         竹子湖               11.0              24.8            2021-01-04
369         竹子湖               11.0              24.8            2021-01-05
..          ...                ...               ...                   ...
725         竹子湖               13.5              22.9            2021-12-27
726         竹子湖               13.5              22.9            2021-12-28
727         竹子湖               13.5              22.9            2021-12-29
728         竹子湖               13.5              22.9            2021-12-30
729         竹子湖               13.5              22.9            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0           竹子湖               12.7              21.4            2022-01-01
1           竹子湖               12.7              21.4            2022-01-02
2           竹子湖               12.7              21.4            2022-01-03
3           竹子湖               12.7              21.4            2022-01-04
4           竹子湖               12.7              21.4            2022-01-05
..          ...                ...               ...                   ...
360         竹子湖               12.2              19.9            2022-12-27
361         竹子湖               12.2              19.9            2022-12-28
362         竹子湖               12.2              19.9            2022-12-29
363         竹子湖               12.2              19.9            2022-12-30
364         竹子湖               12.2              19.9            2022-12-31

[365 rows x 4 columns]

Station: 臺中
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          臺中               17.3              27.2            2018-01-01
1462          臺中               17.3              27.2            2018-01-02
1463          臺中               17.3              27.2            2018-01-03
1464          臺中               17.3              27.2            2018-01-04
1465          臺中               17.3              27.2            2018-01-05
...          ...                ...               ...                   ...
1821          臺中               20.8              31.7            2018-12-27
1822          臺中               20.8              31.7            2018-12-28
1823          臺中               20.8              31.7            2018-12-29
1824          臺中               20.8              31.7            2018-12-30
1825          臺中               20.8              31.7            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          臺中               19.3              31.0            2019-01-01
1097          臺中               19.3              31.0            2019-01-02
1098          臺中               19.3              31.0            2019-01-03
1099          臺中               19.3              31.0            2019-01-04
1100          臺中               19.3              31.0            2019-01-05
...          ...                ...               ...                   ...
1456          臺中               19.3              29.5            2019-12-27
1457          臺中               19.3              29.5            2019-12-28
1458          臺中               19.3              29.5            2019-12-29
1459          臺中               19.3              29.5            2019-12-30
1460          臺中               19.3              29.5            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           臺中               18.0              29.0            2020-01-01
731           臺中               18.0              29.0            2020-01-02
732           臺中               18.0              29.0            2020-01-03
733           臺中               18.0              29.0            2020-01-04
734           臺中               18.0              29.0            2020-01-05
...          ...                ...               ...                   ...
1091          臺中               19.5              28.5            2020-12-27
1092          臺中               19.5              28.5            2020-12-28
1093          臺中               19.5              28.5            2020-12-29
1094          臺中               19.5              28.5            2020-12-30
1095          臺中               19.5              28.5            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          臺中               16.0              30.4            2021-01-01
366          臺中               16.0              30.4            2021-01-02
367          臺中               16.0              30.4            2021-01-03
368          臺中               16.0              30.4            2021-01-04
369          臺中               16.0              30.4            2021-01-05
..          ...                ...               ...                   ...
725          臺中               18.8              28.2            2021-12-27
726          臺中               18.8              28.2            2021-12-28
727          臺中               18.8              28.2            2021-12-29
728          臺中               18.8              28.2            2021-12-30
729          臺中               18.8              28.2            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            臺中               17.9              27.6            2022-01-01
1            臺中               17.9              27.6            2022-01-02
2            臺中               17.9              27.6            2022-01-03
3            臺中               17.9              27.6            2022-01-04
4            臺中               17.9              27.6            2022-01-05
..          ...                ...               ...                   ...
360          臺中               17.8              28.1            2022-12-27
361          臺中               17.8              28.1            2022-12-28
362          臺中               17.8              28.1            2022-12-29
363          臺中               17.8              28.1            2022-12-30
364          臺中               17.8              28.1            2022-12-31

[365 rows x 4 columns]

Station: 臺北
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          臺北               16.9              26.6            2018-01-01
1462          臺北               16.9              26.6            2018-01-02
1463          臺北               16.9              26.6            2018-01-03
1464          臺北               16.9              26.6            2018-01-04
1465          臺北               16.9              26.6            2018-01-05
...          ...                ...               ...                   ...
1821          臺北               19.5              30.5            2018-12-27
1822          臺北               19.5              30.5            2018-12-28
1823          臺北               19.5              30.5            2018-12-29
1824          臺北               19.5              30.5            2018-12-30
1825          臺北               19.5              30.5            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          臺北               18.5              28.6            2019-01-01
1097          臺北               18.5              28.6            2019-01-02
1098          臺北               18.5              28.6            2019-01-03
1099          臺北               18.5              28.6            2019-01-04
1100          臺北               18.5              28.6            2019-01-05
...          ...                ...               ...                   ...
1456          臺北               19.1              29.5            2019-12-27
1457          臺北               19.1              29.5            2019-12-28
1458          臺北               19.1              29.5            2019-12-29
1459          臺北               19.1              29.5            2019-12-30
1460          臺北               19.1              29.5            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           臺北               17.9              29.4            2020-01-01
731           臺北               17.9              29.4            2020-01-02
732           臺北               17.9              29.4            2020-01-03
733           臺北               17.9              29.4            2020-01-04
734           臺北               17.9              29.4            2020-01-05
...          ...                ...               ...                   ...
1091          臺北               18.1              26.4            2020-12-27
1092          臺北               18.1              26.4            2020-12-28
1093          臺北               18.1              26.4            2020-12-29
1094          臺北               18.1              26.4            2020-12-30
1095          臺北               18.1              26.4            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          臺北               16.0              29.8            2021-01-01
366          臺北               16.0              29.8            2021-01-02
367          臺北               16.0              29.8            2021-01-03
368          臺北               16.0              29.8            2021-01-04
369          臺北               16.0              29.8            2021-01-05
..          ...                ...               ...                   ...
725          臺北               18.3              27.2            2021-12-27
726          臺北               18.3              27.2            2021-12-28
727          臺北               18.3              27.2            2021-12-29
728          臺北               18.3              27.2            2021-12-30
729          臺北               18.3              27.2            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            臺北               17.2              25.8            2022-01-01
1            臺北               17.2              25.8            2022-01-02
2            臺北               17.2              25.8            2022-01-03
3            臺北               17.2              25.8            2022-01-04
4            臺北               17.2              25.8            2022-01-05
..          ...                ...               ...                   ...
360          臺北               16.6              24.8            2022-12-27
361          臺北               16.6              24.8            2022-12-28
362          臺北               16.6              24.8            2022-12-29
363          臺北               16.6              24.8            2022-12-30
364          臺北               16.6              24.8            2022-12-31

[365 rows x 4 columns]

Station: 臺南
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          臺南               18.1              28.2            2018-01-01
1462          臺南               18.1              28.2            2018-01-02
1463          臺南               18.1              28.2            2018-01-03
1464          臺南               18.1              28.2            2018-01-04
1465          臺南               18.1              28.2            2018-01-05
...          ...                ...               ...                   ...
1821          臺南               21.6              30.5            2018-12-27
1822          臺南               21.6              30.5            2018-12-28
1823          臺南               21.6              30.5            2018-12-29
1824          臺南               21.6              30.5            2018-12-30
1825          臺南               21.6              30.5            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          臺南               19.7              28.9            2019-01-01
1097          臺南               19.7              28.9            2019-01-02
1098          臺南               19.7              28.9            2019-01-03
1099          臺南               19.7              28.9            2019-01-04
1100          臺南               19.7              28.9            2019-01-05
...          ...                ...               ...                   ...
1456          臺南               19.8              28.9            2019-12-27
1457          臺南               19.8              28.9            2019-12-28
1458          臺南               19.8              28.9            2019-12-29
1459          臺南               19.8              28.9            2019-12-30
1460          臺南               19.8              28.9            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           臺南               19.0              29.4            2020-01-01
731           臺南               19.0              29.4            2020-01-02
732           臺南               19.0              29.4            2020-01-03
733           臺南               19.0              29.4            2020-01-04
734           臺南               19.0              29.4            2020-01-05
...          ...                ...               ...                   ...
1091          臺南               20.1              29.4            2020-12-27
1092          臺南               20.1              29.4            2020-12-28
1093          臺南               20.1              29.4            2020-12-29
1094          臺南               20.1              29.4            2020-12-30
1095          臺南               20.1              29.4            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          臺南               16.5              27.3            2021-01-01
366          臺南               16.5              27.3            2021-01-02
367          臺南               16.5              27.3            2021-01-03
368          臺南               16.5              27.3            2021-01-04
369          臺南               16.5              27.3            2021-01-05
..          ...                ...               ...                   ...
725          臺南               19.3              26.7            2021-12-27
726          臺南               19.3              26.7            2021-12-28
727          臺南               19.3              26.7            2021-12-29
728          臺南               19.3              26.7            2021-12-30
729          臺南               19.3              26.7            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            臺南               18.5              26.7            2022-01-01
1            臺南               18.5              26.7            2022-01-02
2            臺南               18.5              26.7            2022-01-03
3            臺南               18.5              26.7            2022-01-04
4            臺南               18.5              26.7            2022-01-05
..          ...                ...               ...                   ...
360          臺南               18.6              28.2            2022-12-27
361          臺南               18.6              28.2            2022-12-28
362          臺南               18.6              28.2            2022-12-29
363          臺南               18.6              28.2            2022-12-30
364          臺南               18.6              28.2            2022-12-31

[365 rows x 4 columns]

Station: 臺東
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          臺東               19.1              25.4            2018-01-01
1462          臺東               19.1              25.4            2018-01-02
1463          臺東               19.1              25.4            2018-01-03
1464          臺東               19.1              25.4            2018-01-04
1465          臺東               19.1              25.4            2018-01-05
...          ...                ...               ...                   ...
1821          臺東               22.0              29.6            2018-12-27
1822          臺東               22.0              29.6            2018-12-28
1823          臺東               22.0              29.6            2018-12-29
1824          臺東               22.0              29.6            2018-12-30
1825          臺東               22.0              29.6            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          臺東               21.1              28.3            2019-01-01
1097          臺東               21.1              28.3            2019-01-02
1098          臺東               21.1              28.3            2019-01-03
1099          臺東               21.1              28.3            2019-01-04
1100          臺東               21.1              28.3            2019-01-05
...          ...                ...               ...                   ...
1456          臺東               21.1              27.8            2019-12-27
1457          臺東               21.1              27.8            2019-12-28
1458          臺東               21.1              27.8            2019-12-29
1459          臺東               21.1              27.8            2019-12-30
1460          臺東               21.1              27.8            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           臺東               20.5              27.2            2020-01-01
731           臺東               20.5              27.2            2020-01-02
732           臺東               20.5              27.2            2020-01-03
733           臺東               20.5              27.2            2020-01-04
734           臺東               20.5              27.2            2020-01-05
...          ...                ...               ...                   ...
1091          臺東               21.1              27.2            2020-12-27
1092          臺東               21.1              27.2            2020-12-28
1093          臺東               21.1              27.2            2020-12-29
1094          臺東               21.1              27.2            2020-12-30
1095          臺東               21.1              27.2            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          臺東               18.2              25.4            2021-01-01
366          臺東               18.2              25.4            2021-01-02
367          臺東               18.2              25.4            2021-01-03
368          臺東               18.2              25.4            2021-01-04
369          臺東               18.2              25.4            2021-01-05
..          ...                ...               ...                   ...
725          臺東               20.6              26.6            2021-12-27
726          臺東               20.6              26.6            2021-12-28
727          臺東               20.6              26.6            2021-12-29
728          臺東               20.6              26.6            2021-12-30
729          臺東               20.6              26.6            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            臺東               20.2              26.5            2022-01-01
1            臺東               20.2              26.5            2022-01-02
2            臺東               20.2              26.5            2022-01-03
3            臺東               20.2              26.5            2022-01-04
4            臺東               20.2              26.5            2022-01-05
..          ...                ...               ...                   ...
360          臺東               20.9              28.5            2022-12-27
361          臺東               20.9              28.5            2022-12-28
362          臺東               20.9              28.5            2022-12-29
363          臺東               20.9              28.5            2022-12-30
364          臺東               20.9              28.5            2022-12-31

[365 rows x 4 columns]

Station: 花蓮
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          花蓮               18.2              24.9            2018-01-01
1462          花蓮               18.2              24.9            2018-01-02
1463          花蓮               18.2              24.9            2018-01-03
1464          花蓮               18.2              24.9            2018-01-04
1465          花蓮               18.2              24.9            2018-01-05
...          ...                ...               ...                   ...
1821          花蓮               21.0              29.2            2018-12-27
1822          花蓮               21.0              29.2            2018-12-28
1823          花蓮               21.0              29.2            2018-12-29
1824          花蓮               21.0              29.2            2018-12-30
1825          花蓮               21.0              29.2            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          花蓮               20.0              26.8            2019-01-01
1097          花蓮               20.0              26.8            2019-01-02
1098          花蓮               20.0              26.8            2019-01-03
1099          花蓮               20.0              26.8            2019-01-04
1100          花蓮               20.0              26.8            2019-01-05
...          ...                ...               ...                   ...
1456          花蓮               20.2              27.1            2019-12-27
1457          花蓮               20.2              27.1            2019-12-28
1458          花蓮               20.2              27.1            2019-12-29
1459          花蓮               20.2              27.1            2019-12-30
1460          花蓮               20.2              27.1            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           花蓮               19.5              27.2            2020-01-01
731           花蓮               19.5              27.2            2020-01-02
732           花蓮               19.5              27.2            2020-01-03
733           花蓮               19.5              27.2            2020-01-04
734           花蓮               19.5              27.2            2020-01-05
...          ...                ...               ...                   ...
1091          花蓮               20.2              26.8            2020-12-27
1092          花蓮               20.2              26.8            2020-12-28
1093          花蓮               20.2              26.8            2020-12-29
1094          花蓮               20.2              26.8            2020-12-30
1095          花蓮               20.2              26.8            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          花蓮               16.6              23.8            2021-01-01
366          花蓮               16.6              23.8            2021-01-02
367          花蓮               16.6              23.8            2021-01-03
368          花蓮               16.6              23.8            2021-01-04
369          花蓮               16.6              23.8            2021-01-05
..          ...                ...               ...                   ...
725          花蓮               19.5              26.1            2021-12-27
726          花蓮               19.5              26.1            2021-12-28
727          花蓮               19.5              26.1            2021-12-29
728          花蓮               19.5              26.1            2021-12-30
729          花蓮               19.5              26.1            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            花蓮               18.6              25.5            2022-01-01
1            花蓮               18.6              25.5            2022-01-02
2            花蓮               18.6              25.5            2022-01-03
3            花蓮               18.6              25.5            2022-01-04
4            花蓮               18.6              25.5            2022-01-05
..          ...                ...               ...                   ...
360          花蓮               19.5              27.5            2022-12-27
361          花蓮               19.5              27.5            2022-12-28
362          花蓮               19.5              27.5            2022-12-29
363          花蓮               19.5              27.5            2022-12-30
364          花蓮               19.5              27.5            2022-12-31

[365 rows x 4 columns]

Station: 蘇澳
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          蘇澳               16.6              23.6            2018-01-01
1462          蘇澳               16.6              23.6            2018-01-02
1463          蘇澳               16.6              23.6            2018-01-03
1464          蘇澳               16.6              23.6            2018-01-04
1465          蘇澳               16.6              23.6            2018-01-05
...          ...                ...               ...                   ...
1821          蘇澳               19.0              28.1            2018-12-27
1822          蘇澳               19.0              28.1            2018-12-28
1823          蘇澳               19.0              28.1            2018-12-29
1824          蘇澳               19.0              28.1            2018-12-30
1825          蘇澳               19.0              28.1            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          蘇澳               18.2              27.3            2019-01-01
1097          蘇澳               18.2              27.3            2019-01-02
1098          蘇澳               18.2              27.3            2019-01-03
1099          蘇澳               18.2              27.3            2019-01-04
1100          蘇澳               18.2              27.3            2019-01-05
...          ...                ...               ...                   ...
1456          蘇澳               18.6              25.9            2019-12-27
1457          蘇澳               18.6              25.9            2019-12-28
1458          蘇澳               18.6              25.9            2019-12-29
1459          蘇澳               18.6              25.9            2019-12-30
1460          蘇澳               18.6              25.9            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           蘇澳               18.1              26.0            2020-01-01
731           蘇澳               18.1              26.0            2020-01-02
732           蘇澳               18.1              26.0            2020-01-03
733           蘇澳               18.1              26.0            2020-01-04
734           蘇澳               18.1              26.0            2020-01-05
...          ...                ...               ...                   ...
1091          蘇澳               17.8              23.9            2020-12-27
1092          蘇澳               17.8              23.9            2020-12-28
1093          蘇澳               17.8              23.9            2020-12-29
1094          蘇澳               17.8              23.9            2020-12-30
1095          蘇澳               17.8              23.9            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          蘇澳               15.4              24.3            2021-01-01
366          蘇澳               15.4              24.3            2021-01-02
367          蘇澳               15.4              24.3            2021-01-03
368          蘇澳               15.4              24.3            2021-01-04
369          蘇澳               15.4              24.3            2021-01-05
..          ...                ...               ...                   ...
725          蘇澳               18.0              27.8            2021-12-27
726          蘇澳               18.0              27.8            2021-12-28
727          蘇澳               18.0              27.8            2021-12-29
728          蘇澳               18.0              27.8            2021-12-30
729          蘇澳               18.0              27.8            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            蘇澳               17.3              26.6            2022-01-01
1            蘇澳               17.3              26.6            2022-01-02
2            蘇澳               17.3              26.6            2022-01-03
3            蘇澳               17.3              26.6            2022-01-04
4            蘇澳               17.3              26.6            2022-01-05
..          ...                ...               ...                   ...
360          蘇澳               16.9              26.6            2022-12-27
361          蘇澳               16.9              26.6            2022-12-28
362          蘇澳               16.9              26.6            2022-12-29
363          蘇澳               16.9              26.6            2022-12-30
364          蘇澳               16.9              26.6            2022-12-31

[365 rows x 4 columns]

Station: 蘭嶼
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          蘭嶼               18.2              23.0            2018-01-01
1462          蘭嶼               18.2              23.0            2018-01-02
1463          蘭嶼               18.2              23.0            2018-01-03
1464          蘭嶼               18.2              23.0            2018-01-04
1465          蘭嶼               18.2              23.0            2018-01-05
...          ...                ...               ...                   ...
1821          蘭嶼               20.6              25.5            2018-12-27
1822          蘭嶼               20.6              25.5            2018-12-28
1823          蘭嶼               20.6              25.5            2018-12-29
1824          蘭嶼               20.6              25.5            2018-12-30
1825          蘭嶼               20.6              25.5            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          蘭嶼               19.7              27.0            2019-01-01
1097          蘭嶼               19.7              27.0            2019-01-02
1098          蘭嶼               19.7              27.0            2019-01-03
1099          蘭嶼               19.7              27.0            2019-01-04
1100          蘭嶼               19.7              27.0            2019-01-05
...          ...                ...               ...                   ...
1456          蘭嶼               19.9              26.4            2019-12-27
1457          蘭嶼               19.9              26.4            2019-12-28
1458          蘭嶼               19.9              26.4            2019-12-29
1459          蘭嶼               19.9              26.4            2019-12-30
1460          蘭嶼               19.9              26.4            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           蘭嶼               19.6              25.9            2020-01-01
731           蘭嶼               19.6              25.9            2020-01-02
732           蘭嶼               19.6              25.9            2020-01-03
733           蘭嶼               19.6              25.9            2020-01-04
734           蘭嶼               19.6              25.9            2020-01-05
...          ...                ...               ...                   ...
1091          蘭嶼               19.7              25.1            2020-12-27
1092          蘭嶼               19.7              25.1            2020-12-28
1093          蘭嶼               19.7              25.1            2020-12-29
1094          蘭嶼               19.7              25.1            2020-12-30
1095          蘭嶼               19.7              25.1            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          蘭嶼               17.1              23.1            2021-01-01
366          蘭嶼               17.1              23.1            2021-01-02
367          蘭嶼               17.1              23.1            2021-01-03
368          蘭嶼               17.1              23.1            2021-01-04
369          蘭嶼               17.1              23.1            2021-01-05
..          ...                ...               ...                   ...
725          蘭嶼               19.4              25.6            2021-12-27
726          蘭嶼               19.4              25.6            2021-12-28
727          蘭嶼               19.4              25.6            2021-12-29
728          蘭嶼               19.4              25.6            2021-12-30
729          蘭嶼               19.4              25.6            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            蘭嶼               19.0              23.6            2022-01-01
1            蘭嶼               19.0              23.6            2022-01-02
2            蘭嶼               19.0              23.6            2022-01-03
3            蘭嶼               19.0              23.6            2022-01-04
4            蘭嶼               19.0              23.6            2022-01-05
..          ...                ...               ...                   ...
360          蘭嶼               19.2              24.8            2022-12-27
361          蘭嶼               19.2              24.8            2022-12-28
362          蘭嶼               19.2              24.8            2022-12-29
363          蘭嶼               19.2              24.8            2022-12-30
364          蘭嶼               19.2              24.8            2022-12-31

[365 rows x 4 columns]

Station: 金門
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          金門               14.2              25.5            2018-01-01
1462          金門               14.2              25.5            2018-01-02
1463          金門               14.2              25.5            2018-01-03
1464          金門               14.2              25.5            2018-01-04
1465          金門               14.2              25.5            2018-01-05
...          ...                ...               ...                   ...
1821          金門               17.2              27.0            2018-12-27
1822          金門               17.2              27.0            2018-12-28
1823          金門               17.2              27.0            2018-12-29
1824          金門               17.2              27.0            2018-12-30
1825          金門               17.2              27.0            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          金門               15.5              23.8            2019-01-01
1097          金門               15.5              23.8            2019-01-02
1098          金門               15.5              23.8            2019-01-03
1099          金門               15.5              23.8            2019-01-04
1100          金門               15.5              23.8            2019-01-05
...          ...                ...               ...                   ...
1456          金門               16.8              25.9            2019-12-27
1457          金門               16.8              25.9            2019-12-28
1458          金門               16.8              25.9            2019-12-29
1459          金門               16.8              25.9            2019-12-30
1460          金門               16.8              25.9            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           金門               15.6              25.5            2020-01-01
731           金門               15.6              25.5            2020-01-02
732           金門               15.6              25.5            2020-01-03
733           金門               15.6              25.5            2020-01-04
734           金門               15.6              25.5            2020-01-05
...          ...                ...               ...                   ...
1091          金門               16.7              26.5            2020-12-27
1092          金門               16.7              26.5            2020-12-28
1093          金門               16.7              26.5            2020-12-29
1094          金門               16.7              26.5            2020-12-30
1095          金門               16.7              26.5            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          金門               13.3              28.5            2021-01-01
366          金門               13.3              28.5            2021-01-02
367          金門               13.3              28.5            2021-01-03
368          金門               13.3              28.5            2021-01-04
369          金門               13.3              28.5            2021-01-05
..          ...                ...               ...                   ...
725          金門               16.1              26.4            2021-12-27
726          金門               16.1              26.4            2021-12-28
727          金門               16.1              26.4            2021-12-29
728          金門               16.1              26.4            2021-12-30
729          金門               16.1              26.4            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            金門               14.8              23.4            2022-01-01
1            金門               14.8              23.4            2022-01-02
2            金門               14.8              23.4            2022-01-03
3            金門               14.8              23.4            2022-01-04
4            金門               14.8              23.4            2022-01-05
..          ...                ...               ...                   ...
360          金門               14.7              24.9            2022-12-27
361          金門               14.7              24.9            2022-12-28
362          金門               14.7              24.9            2022-12-29
363          金門               14.7              24.9            2022-12-30
364          金門               14.7              24.9            2022-12-31

[365 rows x 4 columns]

Station: 阿里山
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461         阿里山                8.4              16.7            2018-01-01
1462         阿里山                8.4              16.7            2018-01-02
1463         阿里山                8.4              16.7            2018-01-03
1464         阿里山                8.4              16.7            2018-01-04
1465         阿里山                8.4              16.7            2018-01-05
...          ...                ...               ...                   ...
1821         阿里山               10.0              18.3            2018-12-27
1822         阿里山               10.0              18.3            2018-12-28
1823         阿里山               10.0              18.3            2018-12-29
1824         阿里山               10.0              18.3            2018-12-30
1825         阿里山               10.0              18.3            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096         阿里山                7.4              15.6            2019-01-01
1097         阿里山                7.4              15.6            2019-01-02
1098         阿里山                7.4              15.6            2019-01-03
1099         阿里山                7.4              15.6            2019-01-04
1100         阿里山                7.4              15.6            2019-01-05
...          ...                ...               ...                   ...
1456         阿里山                8.8              18.2            2019-12-27
1457         阿里山                8.8              18.2            2019-12-28
1458         阿里山                8.8              18.2            2019-12-29
1459         阿里山                8.8              18.2            2019-12-30
1460         阿里山                8.8              18.2            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730          阿里山                6.8              16.7            2020-01-01
731          阿里山                6.8              16.7            2020-01-02
732          阿里山                6.8              16.7            2020-01-03
733          阿里山                6.8              16.7            2020-01-04
734          阿里山                6.8              16.7            2020-01-05
...          ...                ...               ...                   ...
1091         阿里山                9.0              17.0            2020-12-27
1092         阿里山                9.0              17.0            2020-12-28
1093         阿里山                9.0              17.0            2020-12-29
1094         阿里山                9.0              17.0            2020-12-30
1095         阿里山                9.0              17.0            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365         阿里山                5.7              14.9            2021-01-01
366         阿里山                5.7              14.9            2021-01-02
367         阿里山                5.7              14.9            2021-01-03
368         阿里山                5.7              14.9            2021-01-04
369         阿里山                5.7              14.9            2021-01-05
..          ...                ...               ...                   ...
725         阿里山                7.2              14.6            2021-12-27
726         阿里山                7.2              14.6            2021-12-28
727         阿里山                7.2              14.6            2021-12-29
728         阿里山                7.2              14.6            2021-12-30
729         阿里山                7.2              14.6            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0           阿里山                6.8              13.2            2022-01-01
1           阿里山                6.8              13.2            2022-01-02
2           阿里山                6.8              13.2            2022-01-03
3           阿里山                6.8              13.2            2022-01-04
4           阿里山                6.8              13.2            2022-01-05
..          ...                ...               ...                   ...
360         阿里山                7.8              16.9            2022-12-27
361         阿里山                7.8              16.9            2022-12-28
362         阿里山                7.8              16.9            2022-12-29
363         阿里山                7.8              16.9            2022-12-30
364         阿里山                7.8              16.9            2022-12-31

[365 rows x 4 columns]

Station: 鞍部
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          鞍部               10.6              20.7            2018-01-01
1462          鞍部               10.6              20.7            2018-01-02
1463          鞍部               10.6              20.7            2018-01-03
1464          鞍部               10.6              20.7            2018-01-04
1465          鞍部               10.6              20.7            2018-01-05
...          ...                ...               ...                   ...
1821          鞍部               13.5              24.2            2018-12-27
1822          鞍部               13.5              24.2            2018-12-28
1823          鞍部               13.5              24.2            2018-12-29
1824          鞍部               13.5              24.2            2018-12-30
1825          鞍部               13.5              24.2            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          鞍部               12.3              21.8            2019-01-01
1097          鞍部               12.3              21.8            2019-01-02
1098          鞍部               12.3              21.8            2019-01-03
1099          鞍部               12.3              21.8            2019-01-04
1100          鞍部               12.3              21.8            2019-01-05
...          ...                ...               ...                   ...
1456          鞍部               12.8              22.6            2019-12-27
1457          鞍部               12.8              22.6            2019-12-28
1458          鞍部               12.8              22.6            2019-12-29
1459          鞍部               12.8              22.6            2019-12-30
1460          鞍部               12.8              22.6            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           鞍部               11.7              22.1            2020-01-01
731           鞍部               11.7              22.1            2020-01-02
732           鞍部               11.7              22.1            2020-01-03
733           鞍部               11.7              22.1            2020-01-04
734           鞍部               11.7              22.1            2020-01-05
...          ...                ...               ...                   ...
1091          鞍部               12.3              20.3            2020-12-27
1092          鞍部               12.3              20.3            2020-12-28
1093          鞍部               12.3              20.3            2020-12-29
1094          鞍部               12.3              20.3            2020-12-30
1095          鞍部               12.3              20.3            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          鞍部                9.0              22.7            2021-01-01
366          鞍部                9.0              22.7            2021-01-02
367          鞍部                9.0              22.7            2021-01-03
368          鞍部                9.0              22.7            2021-01-04
369          鞍部                9.0              22.7            2021-01-05
..          ...                ...               ...                   ...
725          鞍部               11.5              20.2            2021-12-27
726          鞍部               11.5              20.2            2021-12-28
727          鞍部               11.5              20.2            2021-12-29
728          鞍部               11.5              20.2            2021-12-30
729          鞍部               11.5              20.2            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            鞍部               10.7              19.8            2022-01-01
1            鞍部               10.7              19.8            2022-01-02
2            鞍部               10.7              19.8            2022-01-03
3            鞍部               10.7              19.8            2022-01-04
4            鞍部               10.7              19.8            2022-01-05
..          ...                ...               ...                   ...
360          鞍部               10.5              19.1            2022-12-27
361          鞍部               10.5              19.1            2022-12-28
362          鞍部               10.5              19.1            2022-12-29
363          鞍部               10.5              19.1            2022-12-30
364          鞍部               10.5              19.1            2022-12-31

[365 rows x 4 columns]

Station: 馬祖
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1461          馬祖               10.7              21.8            2018-01-01
1462          馬祖               10.7              21.8            2018-01-02
1463          馬祖               10.7              21.8            2018-01-03
1464          馬祖               10.7              21.8            2018-01-04
1465          馬祖               10.7              21.8            2018-01-05
...          ...                ...               ...                   ...
1821          馬祖               14.0              24.1            2018-12-27
1822          馬祖               14.0              24.1            2018-12-28
1823          馬祖               14.0              24.1            2018-12-29
1824          馬祖               14.0              24.1            2018-12-30
1825          馬祖               14.0              24.1            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1096          馬祖               11.5              24.2            2019-01-01
1097          馬祖               11.5              24.2            2019-01-02
1098          馬祖               11.5              24.2            2019-01-03
1099          馬祖               11.5              24.2            2019-01-04
1100          馬祖               11.5              24.2            2019-01-05
...          ...                ...               ...                   ...
1456          馬祖               14.2              24.0            2019-12-27
1457          馬祖               14.2              24.0            2019-12-28
1458          馬祖               14.2              24.0            2019-12-29
1459          馬祖               14.2              24.0            2019-12-30
1460          馬祖               14.2              24.0            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
730           馬祖               12.9              21.4            2020-01-01
731           馬祖               12.9              21.4            2020-01-02
732           馬祖               12.9              21.4            2020-01-03
733           馬祖               12.9              21.4            2020-01-04
734           馬祖               12.9              21.4            2020-01-05
...          ...                ...               ...                   ...
1091          馬祖               12.9              21.4            2020-12-27
1092          馬祖               12.9              21.4            2020-12-28
1093          馬祖               12.9              21.4            2020-12-29
1094          馬祖               12.9              21.4            2020-12-30
1095          馬祖               12.9              21.4            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
365          馬祖               10.3              20.1            2021-01-01
366          馬祖               10.3              20.1            2021-01-02
367          馬祖               10.3              20.1            2021-01-03
368          馬祖               10.3              20.1            2021-01-04
369          馬祖               10.3              20.1            2021-01-05
..          ...                ...               ...                   ...
725          馬祖               13.5              23.0            2021-12-27
726          馬祖               13.5              23.0            2021-12-28
727          馬祖               13.5              23.0            2021-12-29
728          馬祖               13.5              23.0            2021-12-30
729          馬祖               13.5              23.0            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
0            馬祖               11.0              17.6            2022-01-01
1            馬祖               11.0              17.6            2022-01-02
2            馬祖               11.0              17.6            2022-01-03
3            馬祖               11.0              17.6            2022-01-04
4            馬祖               11.0              17.6            2022-01-05
..          ...                ...               ...                   ...
360          馬祖               11.9              19.4            2022-12-27
361          馬祖               11.9              19.4            2022-12-28
362          馬祖               11.9              19.4            2022-12-29
363          馬祖               11.9              19.4            2022-12-30
364          馬祖               11.9              19.4            2022-12-31

[365 rows x 4 columns]

Station: 高雄
  Year: 2018

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1492          高雄               20.4              29.3            2018-01-01
1493          高雄               20.4              29.3            2018-01-02
1494          高雄               20.4              29.3            2018-01-03
1495          高雄               20.4              29.3            2018-01-04
1496          高雄               20.4              29.3            2018-01-05
...          ...                ...               ...                   ...
1852          高雄               23.4              32.4            2018-12-27
1853          高雄               23.4              32.4            2018-12-28
1854          高雄               23.4              32.4            2018-12-29
1855          高雄               23.4              32.4            2018-12-30
1856          高雄               23.4              32.4            2018-12-31

[365 rows x 4 columns]

  Year: 2019

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
1127          高雄               21.9              28.8            2019-01-01
1128          高雄               21.9              28.8            2019-01-02
1129          高雄               21.9              28.8            2019-01-03
1130          高雄               21.9              28.8            2019-01-04
1131          高雄               21.9              28.8            2019-01-05
...          ...                ...               ...                   ...
1487          高雄               21.8              29.6            2019-12-27
1488          高雄               21.8              29.6            2019-12-28
1489          高雄               21.8              29.6            2019-12-29
1490          高雄               21.8              29.6            2019-12-30
1491          高雄               21.8              29.6            2019-12-31

[365 rows x 4 columns]

  Year: 2020

     StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
761           高雄               20.9              29.0            2020-01-01
762           高雄               20.9              29.0            2020-01-02
763           高雄               20.9              29.0            2020-01-03
764           高雄               20.9              29.0            2020-01-04
765           高雄               20.9              29.0            2020-01-05
...          ...                ...               ...                   ...
1122          高雄               22.3              28.6            2020-12-27
1123          高雄               22.3              28.6            2020-12-28
1124          高雄               22.3              28.6            2020-12-29
1125          高雄               22.3              28.6            2020-12-30
1126          高雄               22.3              28.6            2020-12-31

[366 rows x 4 columns]

  Year: 2021

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
396          高雄               18.3              26.3            2021-01-01
397          高雄               18.3              26.3            2021-01-02
398          高雄               18.3              26.3            2021-01-03
399          高雄               18.3              26.3            2021-01-04
400          高雄               18.3              26.3            2021-01-05
..          ...                ...               ...                   ...
756          高雄               21.2              28.1            2021-12-27
757          高雄               21.2              28.1            2021-12-28
758          高雄               21.2              28.1            2021-12-29
759          高雄               21.2              28.1            2021-12-30
760          高雄               21.2              28.1            2021-12-31

[365 rows x 4 columns]

  Year: 2022

    StationName AirTemperatureMean AirTemperatureMax AirTemperatureMaxDate
31           高雄               19.1              27.0            2022-01-01
32           高雄               19.1              27.0            2022-01-02
2            高雄               20.1              27.7            2022-01-03
34           高雄               19.1              27.0            2022-01-04
35           高雄               19.1              27.0            2022-01-05
..          ...                ...               ...                   ...
391          高雄               19.0              30.0            2022-12-27
392          高雄               19.0              30.0            2022-12-28
393          高雄               19.0              30.0            2022-12-29
394          高雄               19.0              30.0            2022-12-30
395          高雄               19.0              30.0            2022-12-31

[365 rows x 4 columns]

In [ ]:
directory = ''
folders = [d for d in os.listdir(directory) if os.path.isdir(os.path.join(directory, d))]